html,
body {
    @include font-univers-55;
    color: $color-black;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    width: 100%;
    min-height: 100%;
    background-color: $color-white;
    scroll-behavior: smooth;
}

iframe {
    width: 100%;
}

a,
button,
input {
    outline: none;
    padding: $spacer-0;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

p,
li {
    margin-bottom: $spacer-0;
}

button {
    border: 0;
    background-color: transparent;
}

sup,
sub {
    font-size: 75%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

*:focus {
    outline: none;
}

.content-wrapper {
    width: 100%;
    padding: $spacer-0 $spacer-5;
    max-width: 1404px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper-small {
    width: 100%;
    padding: $spacer-0 $spacer-5;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper-form {
    width: 100%;
    padding: $spacer-0 $spacer-5;
    max-width: 1034px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sgp-h1,
.sgp-h2,
.sgp-h3,
.sgp-h4,
.sgp-h5,
.sgp-h6 {
    @include font-univers-65;
    line-height: 1.3;
    .sgp-font-light{
        @include font-univers-45;
    }
    .sgp-font-normal{
        @include font-univers-55;
    }
}

strong {
    @include font-univers-65;
}

.sgp-ptb-6 {
    padding-top: $spacer-6;
    padding-bottom: $spacer-6;
}

.sgp-pt-6 {
    padding-top: $spacer-6;
}

.sgp-pb-6 {
    padding-bottom: $spacer-6;
}

.sgp-mtb-6 {
    margin-top: $spacer-6;
    margin-bottom: $spacer-6;
}

.sgp-mt-6 {
    margin-top: $spacer-6 !important;
}

.sgp-mt-4 {
    margin-top: $spacer-4 !important;
}

.sgp-mb-6 {
    margin-bottom: $spacer-6;
}

.sgp-mb-3 {
    margin-bottom: $spacer-3 !important;
}

.sgp-mb-2 {
    margin-bottom: $spacer-2 !important;
}

.sgp-mb-1 {
    margin-bottom: $spacer-1 !important;
}

.sgp-h1,
.sgp-h2 {
    font-size: 36px;
    margin-bottom: $spacer-4;
    // line-height: 50px;
}

.sgp-h3 {
    font-size: 21px;
    // line-height: 28px;
}

.sgp-h4 {
    font-size: 18px;
    // line-height: 25px;
}

.sgp-h5 {
    font-size: 16px;
    // line-height: 21px;
}

.sgp-h6 {
    font-size: 14px;
    // line-height: 18px;
}

.sgp-small-title {
    font-size: 16px;
    // line-height: 21px;
    color: $color-red;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: $spacer-2;
    &--blue{
        color: $color-blue-3;
    }
}

.sgp-disclaim-text {
    font-size: 12px;
    color: $color-grey-3;
    margin-bottom: $spacer-1;
    .sgp-link-btn {
        text-transform: none;
    }
}

.sgp-link {
    color: $color-blue-2;
    text-decoration: underline;
    &:hover {
        color: $color-red;
        text-decoration: underline;
    }
}

.sgp-bg-grey {
    background-color: $color-grey-7;
    .sgp-tile {
        background-color: $color-white;
    }
}

.sgp-wave-pattern {
    position: absolute;
    top: 32px;
    left: -210px;
    z-index: 2;
    width: 200px;
    height: auto;
    &--right {
        top: auto;
        left: auto;
        bottom: -40px;
        right: -210px;
    }
}

.slick-dots {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    bottom: -16px;
    height: 4px;
    text-align: left;
    li {
        width: 30px;
        height: 4px;
        margin: $spacer-0 $spacer-2 $spacer-0 $spacer-0;
        transition: 0.3s;
        background-color: $color-blue-med-2;
        &.slick-active {
            background-color: $color-blue-2;
        }
        button {
            width: 100%;
            height: 100%;
            padding: $spacer-0;
            &::before {
                content: none;
            }
        }
        &:only-child {
            display: none;
        }
    }
}

.sgp-small-dot {
    .slick-dots {
        display: flex;
    }
}

@mixin scroll-bar-y {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $color-grey-5;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-red;
        border-radius: 5px;
    }
    -ms-scrollbar-face-color: $color-red;
    -ms-scrollbar-track-color: $color-grey-5;
    scrollbar-color: $color-red $color-grey-5;
    scrollbar-width: thin;
    scrollbar-face-color: $color-red;
    scrollbar-track-color: $color-grey-5;
    scrollbar-arrow-color: $color-grey-5;
}

@mixin scroll-bar-x {
    &::-webkit-scrollbar {
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $color-blue-5;
    }
    &::-webkit-scrollbar-thumb {
        background: $color-blue-2;
        border-radius: 10px;
    }
    -ms-scrollbar-face-color: $color-blue-2;
    -ms-scrollbar-track-color: $color-blue-5;
    scrollbar-color: $color-blue-2 $color-blue-5;
    scrollbar-width: thin;
    scrollbar-face-color: $color-blue-2;
    scrollbar-track-color: $color-blue-5;
    scrollbar-arrow-color: $color-blue-5;
}

@include mobile-tablet {
    .sgp-progress {
        display: block;
    }
    .sgp-h1,
    .sgp-h2 {
        font-size: 32px;
    }
    .sgp-wave-pattern {
        display: none;
    }
}

@include mobile {
    .content-wrapper {
        padding: $spacer-0 $spacer-3;
    }
    .content-wrapper-small {
        padding: $spacer-0 $spacer-3;
    }
    .content-wrapper-form {
        padding: $spacer-0 $spacer-3;
    }
    .sgp-ptb-6 {
        padding-top: $spacer-5;
        padding-bottom: $spacer-5;
    }
    .sgp-pt-6 {
        padding-top: $spacer-5;
    }
    .sgp-pb-6 {
        padding-bottom: $spacer-5;
    }
    .sgp-mtb-6 {
        margin-top: $spacer-5;
        margin-bottom: $spacer-5;
    }
    .sgp-mt-6 {
        margin-top: $spacer-5 !important;
    }
    .sgp-mb-6 {
        margin-bottom: $spacer-5;
    }
    .sgp-h1,
    .sgp-h2 {
        font-size: 28px;
        // line-height: 33px;
    }
    .sgp-small-title {
        font-size: 12px;
        // line-height: 16px;
    }
    .slick-dots {
        width: 100%;
        li {
            flex: 1;
            margin: $spacer-0;
        }
    }
    .sgp-small-dot {
        .slick-dots {
            background-color: transparent;
            li {
                max-width: 30px;
                margin: $spacer-0 $spacer-1;
            }
        }
    }
}