html,
body {
    @include font-univers-55;
    color: $color-black;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    width: 100%;
    min-height: 100%;
    background-color: $color-white;
    scroll-behavior: smooth;
}

iframe {
    width: 100%;
}

a,
button,
input {
    outline: none;
    padding: $spacer-0;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

p,
li {
    margin-bottom: $spacer-0;
}

button {
    border: 0;
    background-color: transparent;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

*:focus {
    outline: none;
}

.content-wrapper {
    width: 100%;
    padding: $spacer-0 $spacer-5;
    max-width: 1404px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper-small {
    width: 100%;
    padding: $spacer-0 $spacer-5;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.sgp-h1,
.sgp-h2,
.sgp-h3,
.sgp-h4,
.sgp-h5,
.sgp-h6{
    @include font-univers-65;
    line-height: 1.3;
}


.sgp-h1,
.sgp-h2 {
    font-size: 36px;
    // line-height: 50px;
}
.sgp-h3 {
    font-size: 21px;
    // line-height: 28px;
}
.sgp-h4 {
    font-size: 18px;
    // line-height: 25px;
}
.sgp-h5 {
    font-size: 16px;
    // line-height: 21px;
}
.sgp-h6 {
    font-size: 14px;
    // line-height: 18px;
}
.sgp-small-title{
    font-size: 16px;
    // line-height: 21px;
    color: $color-red;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sgp-progress {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    overflow: hidden;
    // background-color: #C2E4F8;
    background-image: linear-gradient(to right, #24549D, #24549D);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease-in-out;
    margin-top: $spacer-3;
    display: none;
}
.slick-dots{
    display: flex;
    border-radius: 5px;
    background-color: $color-blue-med-2;
    overflow: hidden;
    bottom: -16px;
    li{
        flex: 1;
        height: 4px;
        margin: $spacer-0;
        transition: 0.3s;
        &.slick-active{
            background-color: $color-blue-2;
        }
        button{
            width: 100%;
            height: 100%;
            padding: $spacer-0;
            &::before{
                content: none;
            }
        }
    }
}

@include mobile-tablet {
    .sgp-progress {
        display: block;
    }
    .sgp-h1,
    .sgp-h2 {
        font-size: 32px;
    }
}

@include mobile {
    .content-wrapper {
        padding: $spacer-0 $spacer-3;
    }
    .content-wrapper-small {
        padding: $spacer-0 $spacer-3;
    }
    .sgp-h1,
    .sgp-h2 {
        font-size: 28px;
        line-height: 33px;
    }
    .sgp-small-title{
        font-size: 12px;
        line-height: 16px;
    }
}