.header {
    display: none;
}

.site-footer {
    display: none;
}

#sidebar-first.sidebar {
    display: none;
}

.layout-main {
    margin: $spacer-0;
}

.main-content {
    margin: $spacer-0 !important;
    width: 100% !important;
}

.layout-main-wrapper {
    max-width: 100% !important;
}

.section {
    padding: $spacer-0 !important;
}

.block-page-title-block {
    display: none;
}

.content {
    margin: 0 !important;
}

.node__content {
    margin: 0 !important;
}