@mixin font-univers-45 {
    font-family: 'Univers-45', sans-serif;
}
@mixin font-univers-55 {
    font-family: 'Univers-55', sans-serif;
}
@mixin font-univers-65 {
    font-family: 'Univers-65', sans-serif;
}

$font-normal: normal;
$font-light: 300;
$font-bold: bold;