.sgp-box-btn {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    background-color: #24549D;
    padding: $spacer-2 $spacer-3;
    border: 1px solid #24549D;
    &:hover {
        color: #fff;
        background: transparent linear-gradient(136deg, #24549D 0%, #0A224D 100%) 0% 0% no-repeat padding-box;
    }
}