.sgp-box-border {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    padding: $spacer-2 $spacer-3;
    border: 1px solid #fff;
    transition: all 0.3s;
    &:hover {
        color: #000B19;
        background-color: #fff;
        // background: transparent linear-gradient(136deg, #24549D 0%, #0A224D 100%) 0% 0% no-repeat padding-box;
    }
}