.sgp-btn{
    &__view{
        padding: 10px;
        border: 1px solid $color-blue-2;
        transition: 0.3s;
        svg{
            width: 16px;
            height: 16px;
            fill: $color-blue-2;
            transition: 0.3s;
        }
        &.active{
            background-color: $color-blue-2;
            pointer-events: none;
            svg{
                fill: $color-white;
            }
        }
    }
}