.sgp-gallery-list {
    .sgp-info-tab {
        padding-bottom: $spacer-0;
        .nav {
            justify-content: flex-start;
            margin-bottom: $spacer-4;
        }
    }
    .sgp-tile-bg {
        &__cnt {
            padding: $spacer-5;
        }
        &__desc {
            font-style: italic;
            margin-bottom: $spacer-0;
        }
    }
}

@include mobile {
    .sgp-gallery-list {
        .sgp-tile-bg {
            &__cnt {
                padding: $spacer-3;
            }
        }
        .sgp-info-tab--center {
            .nav {
                li {
                    width: auto;
                }
            }
        }
    }
}