.sgp-arrow-center{
    .sgp-arrow{
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    &__slider{
        padding: $spacer-0 45px;
        .sgp-tile{
            .sgp-h4{
                margin-bottom: $spacer-2;
            }
        }
    }
    &__btn-sec{
        text-align: center;
        margin-top: $spacer-4;
    }
}

@include mobile-tablet{
    .sgp-arrow-center{
        &__slider{
            padding: $spacer-0 40px;
        }
    }
}

@include mobile{
    .sgp-arrow-center{
        &__slider{
            padding: $spacer-0;
        }
    }
}