.sgp-header {
    position: relative;
    z-index: 999;
    &__top-nav {
        background-color: $color-blue-1;
        color: #fff;
        .content-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &.sticky-soomth {
            margin-bottom: 88.6px;
        }
    }
    &__top-items {
        display: flex;
        &--about-link {
            .sgp-header__top-links {
                display: inline-flex;
                align-items: center;
                border: 0;
                &:first-child {
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                }
                &:last-child {
                    padding-right: $spacer-0;
                }
                svg {
                    width: 15px;
                    height: 15px;
                    margin-right: $spacer-2;
                }
                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
    &__top-links {
        padding: $spacer-2 $spacer-3;
        &--active {
            background-color: #1E8CBF;
            @include font-univers-65;
            text-decoration: underline;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__nav {
        background-color: $color-white;
        box-shadow: 0px 3px 32px rgba(0, 0, 0, 0.161);
        padding: $spacer-3 $spacer-0;
        .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
        &.sticky {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            animation: slide-down 0.3s linear forwards;
            z-index: 999;
            @keyframes slide-down {
                0% {
                    opacity: .5;
                    transform: translateY(-100%);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    &__logo {
        width: 150px;
    }
    &__menu-sec {
        margin-left: auto;
        display: flex;
    }
    &__menu-btn-icon {
        svg {
            width: 35px;
            height: 35px;
        }
    }
    &__drop-menu {
        padding: $spacer-0 $spacer-3;
        &:hover {
            .sgp-header__drop-menu-item {
                position: relative;
                color: $color-blue-2;
                svg {
                    fill: $color-blue-2;
                    path {
                        fill: $color-blue-2;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 18px;
                    transform: translateX(-50%);
                    width: 15px;
                    height: 15px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='21' viewBox='0 0 28 21'%3E%3Cpath d='M14,0,28,21H0Z' fill='%23fff'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center bottom;
                    z-index: 1;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                }
            }
            .sgp-header__menu-drop {
                display: flex;
            }
        }
    }
    &__drop-menu-item {
        cursor: pointer;
    }
    &__drop-menu-item.active {
        color: $color-blue-2;
        svg {
            fill: $color-blue-2;
            path {
                fill: $color-blue-2;
            }
        }
    }
    &__drop-menu-icon {
        width: 10px;
        height: 6px;
        margin-left: $spacer-2;
    }
    &__menu-drop {
        position: absolute;
        top: 51px;
        right: 32px;
        background-color: $color-white;
        // width: 850px;
        min-height: 350px;
        box-shadow: 0 4px 32px rgba(0, 0, 0, 0.16);
        display: none;
    }
    &__menu-drop-col {
        // flex: 1;
        padding: $spacer-4;
        width: 282px;
        min-width: 282px;
        &--bg-img {
            background-repeat: no-repeat;
            background-size: cover;
        }
        &--tab-expan {
            background-color: $color-grey-7;
            display: none;
            &.active {
                display: block;
            }
            .sgp-header__menu-drop-link {
                &:hover {
                    color: $color-black;
                }
            }
        }
        &--two {
            // flex: 2;
            width: 564px;
            min-width: 564px;
        }
    }
    &__menu-drop-btn {
        color: $color-blue-2;
        margin-bottom: $spacer-4;
        display: block;
        svg {
            width: 12px;
            height: 12px;
            margin-left: 8px;
        }
        &:hover {
            text-decoration: underline;
            color: $color-blue-2;
        }
    }
    &__menu-drop-link {
        display: block;
        margin-bottom: $spacer-4;
        cursor: pointer;
        &:hover,
        &.active {
            text-decoration: underline;
            color: $color-blue-2;
            svg {
                fill: $color-blue-2;
            }
        }
        &--tab {
            svg {
                width: 6px;
                height: 10px;
                margin-left: $spacer-2;
            }
        }
    }
    &__menu-drop-desc {
        margin-bottom: $spacer-4;
    }
    &__menu-btn-icon {
        padding: $spacer-0 $spacer-3;
        &:last-child {
            padding-right: $spacer-0;
        }
    }
    &__mega-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black-2;
        color: $color-white;
        z-index: 999;
        overflow-x: auto;
        display: none;
        .content-wrapper {
            display: flex;
            min-height: 100vh;
        }
        &.active {
            display: block;
        }
    }
    &__mega-menu-close {
        position: fixed;
        right: 32px;
        top: 32px;
        z-index: 1;
    }
    &__mega-close-icon {
        width: 22px;
        height: auto;
    }
    &__mega-col-1 {
        padding: $spacer-5 $spacer-3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        min-width: 150px;
    }
    &__mega-logo-link {
        display: block;
        margin-bottom: $spacer-4;
    }
    &__mega-logo {
        width: 100px;
        height: auto;
        margin: $spacer-0 auto;
    }
    &__qick-tools {
        &.active {
            .sgp-header__qick-tools-outer {
                max-height: 5000px;
            }
            .sgp-header__qick-btn {
                .sgp-header__qick-btn-icon {
                    display: none;
                }
                .sgp-header__qick-btn-close-icon {
                    display: block;
                }
            }
        }
    }
    &__qick-tools-outer {
        overflow: hidden;
        max-height: 0;
    }
    &__qick-btn {
        display: block;
        margin: $spacer-0 auto;
        padding-top: $spacer-3;
    }
    &__qick-btn-icon {
        width: 30px;
        height: auto;
    }
    &__qick-btn-close-icon {
        width: 18px;
        height: auto;
        display: none;
    }
    &__qick-tools-link {
        display: block;
        text-align: center;
        opacity: 0.5;
        margin-bottom: $spacer-4;
        transition: all 0.3s;
        &:hover {
            opacity: 1;
        }
        .sgp-header__qick-btn-icon {
            margin-bottom: $spacer-2;
        }
    }
    &__qick-btn-icon {
        margin: $spacer-0 auto;
    }
    &__qick-tools-txt {
        font-size: 12px;
    }
    &__mega-menu-main {
        padding: $spacer-6 $spacer-0 $spacer-6 $spacer-6;
        width: 100%;
        display: flex;
    }
    &__mega-home-menu {
        width: 33.33%;
        font-size: 18px;
        @include font-univers-65;
        color: $color-grey-4;
        .sgp-header__menu-link {
            @include font-univers-65;
        }
        &.hide {
            display: none;
        }
    }
    &__menu-link {
        color: $color-grey-4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: $spacer-4;
        padding-bottom: $spacer-1;
        position: relative;
        transition: all 0.3s;
        svg {
            width: 8px;
            height: 13px;
            margin-left: auto;
            path {
                fill: $color-grey-4;
                transition: all 0.3s;
            }
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0;
            background-color: $color-white;
            overflow: hidden;
            transition: all 0.3s;
        }
        &:hover,
        &.active {
            color: $color-white;
            svg {
                path {
                    fill: $color-white;
                }
            }
            &::after {
                width: 50px;
            }
        }
        // &:last-child {
        //     margin-bottom: $spacer-0;
        // }
    }
    &__menu-desk {
        color: $color-grey-4;
        margin-bottom: $spacer-2;
    }
    &__home-head {
        margin-bottom: $spacer-5;
    }
    &__mega-sub-menu-outer {
        display: none;
        width: 100%;
        &.active {
            display: flex;
        }
    }
    &__mega-sub-menu {
        width: 33.33%;
        padding: 104px $spacer-5 $spacer-0;
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        display: none;
        &:first-child {
            padding-top: $spacer-0;
            padding-left: $spacer-0;
            border-left: 0;
            display: block;
            .sgp-header__mega-menu-back,
            .sgp-header__mega-sub-title {
                display: flex;
            }
        }
        &.active {
            display: block;
        }
        .sgp-header__menu-link {
            svg {
                width: 6px;
                height: 10px;
            }
        }
    }
    &__mega-menu-back {
        color: $color-white;
        font-size: 16px;
        display: none;
        align-items: center;
        margin-bottom: $spacer-5;
        svg {
            width: 8px;
            height: 13px;
            margin-right: $spacer-3;
        }
    }
    &__mega-sub-title {
        display: none;
        align-items: center;
        padding-bottom: $spacer-2;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        margin-bottom: $spacer-4;
        @include font-univers-65;
        font-size: 18px;
        svg {
            width: 15px;
            height: 15px;
            margin-left: $spacer-2;
        }
    }
    &__catgry {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 320px;
        &.hide {
            display: none;
        }
    }
    &__catgry-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        width: 100%;
        height: 33.33%;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 35, 80, 0.7);
        }
        &:hover {
            .sgp-btn {
                text-decoration: underline;
                .sgp-btn__icon {
                    &::before {
                        box-shadow: inset 0 0 0 35px $color-red;
                        transform: scale3d(1.1, 1.1, 1);
                    }
                    svg {
                        fill: $color-white;
                    }
                }
            }
        }
        .sgp-btn {
            z-index: 1;
            // position: relative;
            position: absolute;
            bottom: 24px;
            left: 24px;
        }
    }
    &__footer {
        display: none;
    }
    &--about {
        .sgp-header {
            &__drop-menu {
                position: relative;
            }
            &__menu-drop {
                right: -30px;
                top: 33px;
                min-height: 0;
                height: auto;
            }
        }
    }
    &--business {
        .sgp-header {
            &__nav {
                background-color: $color-black-2;
            }
            &__drop-menu-item {
                color: $color-white;
            }
            &__menu-sec {
                align-items: center;
            }
            &__drop-menu {
                &:hover {
                    .sgp-header__drop-menu-item {
                        color: $color-white;
                        svg {
                            path {
                                fill: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1920px) {
    .sgp-header {
        &__catgry {
            width: 25%;
        }
    }
}

@include mobile-tablet {
    .sgp-header {
        &__top-nav {
            &.sticky-soomth {
                margin-bottom: 66px;
            }
        }
        &__nav {
            padding: $spacer-2 $spacer-0;
        }
        &__logo-link {
            order: 2;
        }
        &__logo {
            width: 130px;
        }
        &__menu-btn-icon {
            order: 1;
            padding: $spacer-0;
            &--search {
                order: 3;
            }
        }
        &__menu-sec {
            display: none;
        }
        &__mega-menu-close {
            right: 24px;
            top: 24px;
            &.hide {
                display: none;
            }
        }
        &__mega-close-icon {
            width: 18px;
        }
        &__mega-menu {
            padding-bottom: $spacer-4;
            .content-wrapper {
                flex-direction: column;
                min-height: calc(100vh - 24px);
            }
        }
        &__qick-tools {
            display: none;
        }
        &__mega-col-1 {
            padding: $spacer-3 $spacer-0;
            border-right: 0;
        }
        &__mega-logo-link {
            margin-bottom: $spacer-0;
        }
        &__mega-logo {
            margin: $spacer-0;
        }
        &__catgry {
            position: unset;
            display: flex;
            width: 100%;
            height: auto;
            overflow-x: auto;
            padding-bottom: $spacer-3;
            margin-top: auto;
            &::-webkit-scrollbar {
                height: 4px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: $color-blue-5;
            }
            &::-webkit-scrollbar-thumb {
                background: $color-blue-2;
                border-radius: 10px;
            }
        }
        &__catgry-item {
            height: 180px;
        }
        &__mega-menu-main {
            padding: $spacer-4 $spacer-0 $spacer-6;
        }
        &__mega-home-menu {
            width: 100%;
        }
        &__mega-sub-menu {
            background-color: $color-black-2;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            padding: $spacer-5;
            overflow-y: auto;
            border-left: 0;
            &:first-child {
                padding: $spacer-5;
            }
        }
        &__mega-menu-back,
        &__mega-sub-title {
            display: flex;
        }
        &__footer {
            margin-top: $spacer-5;
            display: block;
        }
        &__footer-social {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $spacer-3;
        }
        &__social {
            display: flex;
            padding-left: $spacer-3;
        }
        &__social-links {
            display: block;
            padding: $spacer-0 $spacer-3;
        }
        &__footer-note {
            text-align: center;
        }
    }
}

@include mobile {
    .sgp-header {
        &__top-items {
            width: calc(100% + 32px);
            margin: $spacer-0 -16px;
            &--about-link {
                display: none;
            }
        }
        &__top-links {
            width: 50%;
            text-align: center;
        }
        &__mega-home-menu {
            font-size: 16px;
        }
        &__mega-sub-menu {
            padding: $spacer-5 $spacer-3;
            &:first-child {
                padding: $spacer-5 $spacer-3;
            }
        }
        &__catgry-item {
            min-width: 220px;
            margin-right: $spacer-2;
            &:last-child {
                margin-right: $spacer-0;
            }
        }
    }
}

@include ie-fix {
    .sgp-header {
        &__menu-drop {
            height: 370px;
        }
        &__mega-menu {
            .content-wrapper {
                height: 100vh;
            }
        }
        &--about {
            .sgp-header {
                &__menu-drop {
                    height: auto;
                }
            }
        }
    }
}