.sgp-help-tile {
    padding: $spacer-5 $spacer-0;
    margin-top: -130px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    &__box {
        background-color: #000B19;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.161);
        color: #fff;
        padding: $spacer-6 $spacer-3;
        position: relative;
    }
    &__title {
        max-width: 950px;
        margin: $spacer-0 auto $spacer-3;
        text-align: center;
        text-transform: uppercase;
    }
    .h2 {
        max-width: 950px;
        margin: $spacer-0 auto $spacer-5;
        text-align: center;
    }
    &__slider {
        max-width: 950px;
        margin: $spacer-0 auto;
    }
    .sgp-tile {
        margin: $spacer-0 $spacer-2;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .slick-track {
        display: flex;
    }
    &__pattern-left {
        width: 150px;
        height: 64px;
        position: absolute;
        left: -90px;
        bottom: 70px;
    }
    &__pattern-right {
        width: 150px;
        height: 64px;
        position: absolute;
        right: -90px;
        bottom: -24px;
    }
}

@media (max-width: 1199px) {
    .sgp-help-tile {
        &__pattern-left,
        &__pattern-right {
            display: none;
        }
    }
}

@include mobile {
    .sgp-help-tile {
        padding: $spacer-4 $spacer-0;
        margin-top: -70px;
        &__box {
            padding: $spacer-4 $spacer-3;
        }
        &__slider {
            margin: $spacer-0 -4px;
        }
        .sgp-tile {
            margin: $spacer-0 $spacer-1;
        }
        &__title {
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            margin-bottom: $spacer-2;
        }
        .h2 {
            font-size: 18px !important;
            line-height: 24px !important;
            text-align: left;
            margin-bottom: $spacer-3;
        }
    }
}