.sgp-inline-bnr {
    padding: $spacer-6 $spacer-0;
    margin-bottom: -130px;
    z-index: 1;
    position: relative;
    &__outer {
        display: flex;
    }
    &__bg {
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__cnt {
        color: #fff;
        width: 50%;
        background: transparent linear-gradient(99deg, #24549D 0%, #0A224D 100%) 0% 0% no-repeat padding-box;
        padding: $spacer-5;
    }
    &__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: $spacer-4;
    }
}

@include mobile {
    .sgp-inline-bnr {
        padding: $spacer-4 $spacer-0;
        margin-bottom: $spacer-0;
        &__outer {
            display: block;
        }
        &__bg {
            width: 100%;
            height: 150px;
        }
        &__cnt {
            width: 100%;
            padding: $spacer-3;
        }
        &__title {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: $spacer-3;
        }
    }
}