.sgp-inline-bnr {
    padding: $spacer-6 $spacer-0;
    z-index: 1;
    position: relative;
    &--with-footer {
        margin-bottom: -130px;
    }
    &__outer {
        display: flex;
        box-shadow: 0px 3px 32px rgba(0, 0, 0, 0.16);
        background-color: $color-white;
    }
    &__bg {
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__cnt {
        width: 50%;
        padding: $spacer-5;
    }
    &__title {
        font-size: 20px;
        margin-bottom: $spacer-4;
    }
}

@include mobile {
    .sgp-inline-bnr {
        padding: $spacer-5 $spacer-0;
        &--with-footer {
            margin-bottom: $spacer-0;
        }
        &__outer {
            display: block;
        }
        &__bg {
            width: 100%;
            height: 150px;
        }
        &__cnt {
            width: 100%;
            padding: $spacer-3;
        }
        &__title {
            font-size: 16px;
            margin-bottom: $spacer-3;
        }
    }
}