.sgp-pers-featured{
    // padding-bottom: $spacer-2;
    &.sgp-policy-info{
        .sgp-header-with-cta{
            margin-bottom: $spacer-0;
        }
    }
    .sgp-header-arrow{
        margin-bottom: $spacer-0;
    }
    &__wrapper{
        margin: $spacer-0 (-$spacer-2);
        display: flex;
        flex-wrap: wrap;
        &.slick-slider{
            margin-bottom: $spacer-0;
            display: block;
        }
        & > .slick-list{
            padding: $spacer-5 $spacer-0;
            .slick-track{
                display: flex;
                margin: $spacer-0;
            }
        }
        .sgp-tile,
        .sgp-tile-bg{
            margin: $spacer-2;
            height: auto;
            width: calc(33.33% - 16px);
        }
    }
    &__slider{
        .sgp-tile:not(.sgp-tile--parcel){
            &:hover{
                background-color: $color-white;
            }
        }
    }
    &__social{
        display: flex;
        margin: $spacer-0 (-$spacer-2);
        .sgp-tile-bg{
            .sgp-small-title{
                font-size: 14px;
                margin-bottom: $spacer-2;
            }
            .sgp-h5{
                margin-bottom: $spacer-3;
            }
        }
    }
    .slick-dots{
        display: none !important;
    }
    &--social{
        .sgp-tile,
        .sgp-tile-bg{
            height: auto;
        }
        .sgp-tile-bg{
            width: 40%;
            min-width: 40%;
            margin: $spacer-0 $spacer-2;
            min-height: 0px;
        }
        .sgp-header-arrow{
            margin-bottom: $spacer-4;
        }
        .sgp-tile{
            display: flex;
            flex-direction: column;
            background-color: $color-white;
            &__cnt-sec{
                padding: $spacer-3 $spacer-0 $spacer-1;
            }
            &:hover{
                box-shadow: none;
            }
            &:nth-of-type(even){
                flex-direction: column-reverse;
                .sgp-tile__cnt-sec{
                    padding: $spacer-0 $spacer-0 $spacer-3;
                }
            }
        }
        .sgp-pers-featured{
            &__wrapper{
                margin: $spacer-0;
                width: calc(60% - 16px);
                & > .slick-list{
                    padding: $spacer-0;
                }
            }
        }
    }
    &--two-slide{
        .sgp-pers-featured{
            &__social{
                margin: $spacer-0;
            }
            &__wrapper{
                margin: $spacer-0;
                width: 66.66%;
                & > .slick-list{
                    padding: $spacer-5 $spacer-0 $spacer-5 $spacer-3;
                    margin-left: (-$spacer-3);
                }
                .sgp-tile{
                    margin: $spacer-0 $spacer-3 $spacer-0 $spacer-0;
                }
            }
        }

        .sgp-tile-blue{
            width: 33.33%;
            margin: $spacer-5 $spacer-0;
        }
    }
    &--one-slide{
        .sgp-tile{
            width: calc(100% - 16px);
        }
        .sgp-pers-featured__wrapper{
            width: 33.33%;
            margin:  $spacer-5 $spacer-0;
        }
    }
}
@include mobile-tablet{
    .sgp-pers-featured{
        // &--two-slide{
        //     .sgp-pers-featured{
        //         &__wrapper{
        //             width: 50%;
        //         }
        //     }
        //     .sgp-tile-blue{
        //         width: 50%;
        //     }
        // }
        &__wrapper{
            .sgp-tile-bg{
                margin: $spacer-0 $spacer-2 $spacer-3;
            }
            .sgp-tile-bg,
            .sgp-tile{
                width: calc(50% - 16px);
            }
            .sgp-tile{
                margin: $spacer-2;
            }
        }
        &--two-slide{
            .sgp-pers-featured{
                &__social{
                    display: block;
                }
                &__wrapper{
                    width: 100%;
                    .sgp-tile{
                        margin-right: $spacer-3;
                    }
                    & > .slick-list{
                        width: calc(100% + 16px);
                        margin-left: $spacer-0;
                        padding: $spacer-4 $spacer-0 $spacer-0;
                    }
                }
            }
            .sgp-tile-blue{
                width: auto;
                margin: $spacer-4 (-$spacer-5) $spacer-0;
            }
        }
        &--one-slide{
            .sgp-pers-featured__social{
                display: flex;
            }
            .sgp-pers-featured__wrapper{
                width: 50%;
            }
            .sgp-tile-blue{
                width: 50%;
                margin: $spacer-5 $spacer-0;
            }
            .sgp-tile{
                width: calc(100% - 16px);
            }
        }
    }
}
@media (max-width: 768px) {
    .sgp-pers-featured{
        &--one-slide{
            &.sgp-pers-featured--two-slide{
                .sgp-pers-featured__social{
                    display: block;
                }
                .sgp-pers-featured__wrapper{
                    width: 100%;
                    .sgp-tile{
                        margin: $spacer-0;
                        width: 100%;
                     }
                }
                .sgp-tile-blue{
                    margin: 0 -32px;
                    width: calc(100% + 64px);
                }
            }
            .sgp-disclaim-text{
                margin-top: $spacer-3;
            }
        }
    }
}
@include mobile{
    .sgp-pers-featured{
        &__social{
            display: block;
        }
        &__wrapper{
            // margin: $spacer-0;
            display: block;
            &.slick-slider{
                margin-bottom: 30px;
            }
            .sgp-tile{
                width: auto;
                &--pdp{
                    margin: $spacer-0 5px;
                }
            }
            .sgp-tile-bg{
                // margin: $spacer-0;
                min-height: 260px;
                width: auto;
            }
            & > .slick-list{
                padding: $spacer-4 $spacer-0 $spacer-0;
            }
            .slick-dots{
                width: calc(100% - 16px);
                margin: $spacer-0 $spacer-2;
            }
        }
        .slick-dots{
            display: flex !important;
        }
        &--social{
            .sgp-tile-bg{
                width: 100%;
                margin: $spacer-0 $spacer-0 $spacer-3;
                min-height: 280px;
                .sgp-btn{
                    display: block;
                }
            }
            .sgp-pers-featured{
                &__social{
                    width: auto;
                    margin: $spacer-4 $spacer-0 $spacer-0;
                }
                &__wrapper{
                    width: 100%;
                }
            }
            .sgp-tile{
                &:nth-of-type(even){
                    flex-direction: column;
                    .sgp-tile__cnt-sec{
                        padding: $spacer-3 $spacer-0 $spacer-0;
                    }
                }
            }
        }
        &--two-slide{
            .sgp-pers-featured{
                &__wrapper{
                    .sgp-tile{
                        margin-right: $spacer-0;
                    }
                    & > .slick-list{
                        width: 100%;
                    }
                }
            }
            .sgp-tile-blue{
                margin: $spacer-6 (-$spacer-3) $spacer-0;
            }
        }
        &--one-slide{
            &.sgp-pers-featured--two-slide{
                .sgp-tile-blue{
                    margin: 0 -16px;
                    width: calc(100% + 32px);
                }
            }
        }
        .sgp-disclaim-text{
            margin-top: $spacer-3;
        }
    }
}