.sgp-mob-app {
    display: flex;
    margin: $spacer-0 (-$spacer-2);
    .sgp-locate,
    &__sec {
        width: calc(50% - 16px);
        margin: $spacer-0 $spacer-2;
        .sgp-h2{
            text-align: left;
        }
    }
    &__sec {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    &__inner {
        background-size: cover;
        background-position: bottom;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        margin-top: auto;
        padding: $spacer-5 $spacer-4;
        min-height: 60%;
    }
    &__mob-img {
        width: 60%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__cnt {
        color: $color-white;
        width: 60%;
        .sgp-small-title {
            color: $color-white;
            margin-bottom: $spacer-3;
        }
        .sgp-h2 {
            margin-bottom: $spacer-2;
        }
    }
    &__sgp-icon {
        width: 160px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
    }
    &__btn-sec {
        display: flex;
        margin-top: $spacer-5;
        margin: $spacer-5 (-$spacer-2) $spacer-0;
    }
    &__btn {
        display: block;
        margin: $spacer-0 $spacer-2;
    }
}

@include mobile-tablet {
    .sgp-mob-app {
        display: block;
        margin: $spacer-0;
        .sgp-locate,
        &__sec {
            width: 100%;
            margin: $spacer-0;
        }
        &__sec {
            margin-top: $spacer-4;
            margin-left: $spacer-0;
        }
        &__mob-img {
            display: none;
        }
        &__cnt {
            width: 100%;
            .sgp-small-title {
                margin-bottom: $spacer-2;
            }
            .sgp-h2 {
                margin-bottom: $spacer-0;
            }
        }
        &__inner {
            padding: $spacer-1 $spacer-3 $spacer-4;
        }
        &__head-sec {
            display: flex;
            align-items: center;
            margin-left: (-$spacer-3);
        }
        &__btn-sec {
            width: 50%;
        }
        &__sgp-icon {
            width: 130px;
            position: static;
            transform: translate(0);
        }
    }
}

@include mobile {
    .sgp-mob-app {
        &__sec {
            margin-top: $spacer-3;
            padding-bottom: 70px;
        }
        &__btn-sec {
            width: auto;
            margin-top: $spacer-0;
            position: absolute;
            left: 0;
            bottom: -16px;
            transform: translateY(100%);
        }
        &__inner {
            background-image: url(../images/mail-bg-image-mob.jpg) !important;
            padding-bottom: $spacer-3;
        }
    }
}