.track-trace-sec {
    z-index: 1;
    position: relative;
    &--position {
        margin-top: -80px;
    }
    &__inner {
        padding: $spacer-4;
        background-color: $color-grey-7;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
    }
    &__top {
        display: flex;
    }
    &__btn {
        background-color: $color-white;
        color: $color-blue-2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px $spacer-2;
        width: 100%;
        min-width: 150px;
        svg {
            width: 18px;
            height: 18px;
            margin-right: $spacer-2;
        }
    }
    &__btn:hover {
        background-color: $color-blue-2;
        color: $color-white;
        path {
            stroke: $color-white;
            fill: #0777b5;  
        }
    }
    &__btn.active {
        background-color: $color-blue-2;
        color: $color-white;
        path {
            stroke: $color-white;
            fill: $color-blue-2;
        }
        &:hover{
            path {
                stroke: $color-white;
                fill: #0777b5;  
            } 
        }
    }
    &--search {
        .track-trace-sec__btn {
            width: auto;
            background-color: $color-blue-2;
            color: $color-white;
            border: 1px solid $color-blue-2;
            font-size: 12px;
        }
    }
    &__tab {
        margin-right: $spacer-4;
        flex: 1;
    }
    &__tab:last-child {
        margin-right: $spacer-0;
    }
    &__outer {
        flex: 1;
        margin-right: $spacer-3;
        position: relative;
        .track-trace-sec__input-text {
            width: 100%;
            flex: none;
            height: 100%;
            margin-right: $spacer-0;
            padding-right: $spacer-5;
        }
    }
    &__location-point {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
    }
    &__input-text {
        padding: $spacer-2 $spacer-3;
        flex: 1;
        border: 1px solid $color-grey-4;
        border-right: 0px;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            @include font-univers-45;
            color: $color-grey-4;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            @include font-univers-45;
            color: $color-grey-4;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            @include font-univers-45;
            color: $color-grey-4;
        }
    }
    &--weight {
        .track-trace-sec__input-text {
            margin-right: $spacer-3;
            border-right: 1px solid $color-grey-4;
        }
    }
    &__track-tab-footer {
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        margin-top: $spacer-2;
    }
    &__link {
        color: $color-blue-2;
        text-decoration: underline;
        &:hover {
            color: $color-red;
            text-decoration: underline;
        }
    }
    &__tab-cont {
        display: flex;
        select {
            margin-right: $spacer-3;
            flex: 1;
            border: 1px solid $color-grey-4;
            color: #999999;
            padding: $spacer-2 $spacer-5 $spacer-2 $spacer-3;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.125' height='7.793' viewBox='0 0 13.125 7.793'%3E%3Cpath id='Path_1018' data-name='Path 1018' d='M6.234-4.1H6.193a.6.6,0,0,0,.369.123A.6.6,0,0,0,6.932-4.1L13-10.131a.571.571,0,0,0,.123-.349A.571.571,0,0,0,13-10.828l-.82-.82a.6.6,0,0,0-.369-.123.443.443,0,0,0-.328.123L6.563-6.768,1.641-11.648a.443.443,0,0,0-.328-.123.6.6,0,0,0-.369.123l-.82.82A.571.571,0,0,0,0-10.479a.49.49,0,0,0,.164.349Z' transform='translate(0 11.771)' fill='%2324549d'/%3E%3C/svg%3E%0A");
            background-size: 14px 8px;
            background-repeat: no-repeat;
            background-position-x: calc(100% - 16px);
            background-position-y: 50%;
            cursor: pointer;
            appearance: none;
            &::-ms-expand {
                display: none;
            }
        }
    }
    &__mob {
        display: none;
    }
    &__desk li {
        display: flex;
        margin-bottom: $spacer-4;
    }
    &__post-text{
        margin: $spacer-0 $spacer-2;
        width: calc(33.3% - 16px);
        margin-bottom: $spacer-4;
    }
    &__desk{
        &--postal{
            &.track-trace-sec__desk{
                .track-trace-sec__tab-cont{
                    margin: 0 -8px;
                   &--width{
                       &.track-trace-sec__tab-cont{
                        flex-wrap: wrap;
                       }
                    
                   }
                }
                .track-trace-sec__tab{
                    flex: none;
                }
                .track-trace-sec__btn{
                    min-width: 100px;
                    display: block;
                    border: 1px solid $color-blue-2;
                }
                .track-trace-sec__tab-cont select{
                    width: 100%;
                    height: 40px;
                    margin-right: $spacer-0;
                }
            }
        }
            
    }        
}    

@include tablet {
    .track-trace-sec {
        &__tab {
            margin-right: $spacer-3;
        }
        &__post-text{
            margin: $spacer-0 $spacer-2;
            width: calc(50% - 16px);
            margin-bottom: $spacer-4;
        }
        
    }
}

@include mobile {
    .track-trace-sec {
        &--position {
            margin-top: -60px;
        }
        &__mob {
            display: block;
        }
        &--search-field {
            .track-trace-sec__input-text {
                padding: $spacer-3;
            }
        }
        &__desk {
            display: none;
            &--postal{
                &.track-trace-sec__desk{
                    display: block;
                }
            }
        }
        &__mob-head {
            color: $color-black;
            font-weight: bold;
            margin-bottom: $spacer-3;
        }
        &__mob-track {
            display: flex;
        }
        &__mob-search-sec {
            background-color: $color-blue-2;
            padding: $spacer-3;
            display: flex;
            align-items: center;
            img {
                width: 15px;
                height: 15px;
            }
        }
        &__mob-tile {
            display: flex;
            padding: $spacer-3 $spacer-0;
            flex-wrap: wrap;
            color: $color-blue-2;
        }
        &__mob-tile-sec {
            background-color: $color-white;
            padding: $spacer-3;
            color: $color-blue-2;
            margin-right: $spacer-2;
            width: calc(50% - 4px);
            margin-bottom: $spacer-2;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 96px;
        }
        &____mob-tile a {
            color: $color-blue-2;
        }
        &__mob-tile-sec:nth-child(2n) {
            margin-right: $spacer-0;
        }
        &__mob-icon {
            width: 20px;
            height: 20px;
            margin-bottom: $spacer-2;
        }
        &__desk{
            &--postal{
                &.track-trace-sec__desk{
                    .track-trace-sec__tab-cont{
                        display: block;
                        margin: $spacer-0;
                    }
                    .track-trace-sec__tab{
                        flex: 1;
                        margin-left: $spacer-2;
                        margin-right: $spacer-2;
                        &:nth-child(odd){
                            margin-right: $spacer-0;
                            margin-left: $spacer-0;
                        }
                    }
                }
            }      
        }
        &__post-text{
            width: 100%;
            margin-left: $spacer-0;
            margin-right: $spacer-0;
        } 
    }
}