.sgp-snr-reg-serv{
    padding: $spacer-6 $spacer-0;
}
@include mobile-tablet{
    .sgp-snr-reg-serv{
        padding: $spacer-5 $spacer-0;
        .sgp-disclaim-text{
            display: none;
        }
    }
}