.sgp-header-with-btn {
    margin-bottom: $spacer-4;
    .sgp-btn {
        display: none;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .sgp-btn {
            display: inline-flex;
            margin-bottom: $spacer-3;
            margin-left: $spacer-3;
        }
    }
    &__desc {
        margin-top: $spacer-3;
    }
}

@include mobile-tablet {
    .sgp-header-with-btn {
        .sgp-btn {
            display: inline-flex;
            margin-top: $spacer-3;
        }
        &__inner {
            display: block;
            .sgp-btn {
                display: none;
            }
        }
    }
}