.sgp-load-more{
    width: 100%;
    text-align: center;
    margin-top: $spacer-4;
    &__item{
        display: none;
        &.active{
            display: flex;
        }
    }
    &__show,
    &__hide{
        display: none;
        cursor: pointer;
        &.active{
            display: inline-flex;
        }
    }
}