.sgp-load-more {
    display: none;
    &__label {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: $spacer-3;
        cursor: pointer;
        // svg {
        //     width: 20px;
        //     height: 20px;
        // }
    }
    &~.sgp-load-more__item,
    &~.sgp-load-more__label,
    &~.sgp-tile,
    &~.sgp-tile-bg {
        display: none;
    }
    &+.sgp-load-more__label {
        display: flex;
    }
    &:checked {
        &~.sgp-load-more__item {
            display: block;
        }
        &~.sgp-tile,
        &~.sgp-tile-bg {
            display: flex;
        }
        &~.sgp-load-more__label {
            display: flex;
        }
        &+.sgp-load-more__label {
            display: none;
        }
    }
}