.sgp-page-back {
    padding-top: $spacer-3;
    color: $color-blue-2;
    &:hover{
        color: $color-red;
    }
    .sgp-link-btn {
        svg {
            margin-left: $spacer-0;
            margin-right: $spacer-2;
        }
    }
    .sgp-link-btn:not(.sgp-link-btn[href]){
        color: $color-blue-2;
        &:hover {
            color: $color-red;
        }
    }
}

@include mobile {
    .sgp-page-back {
        display: none;
    }
}