.sgp-locate {
    &__inner {
        position: relative;
    }
    &__img {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
    }
    &__sec-1,
    &__sec-2 {
        position: relative;
        z-index: 1;
    }
    &__sec-1 {
        padding-left: $spacer-3;
        &::before {
            content: "";
            background-color: $color-red;
            width: 30px;
            height: 100%;
            margin-top: $spacer-3;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__sec-2 {
        color: $color-white;
        padding: $spacer-5;
        background-color: $color-blue-1;
        margin-top: -80px;
        margin-left: 11px;
        border-top: 5px solid $color-white;
        border-left: 5px solid $color-white;
        .sgp-small-title{
            color: $color-white;
            margin-bottom: $spacer-2;
        }
    }
    &__sub-text {
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: $spacer-2;
    }
    &__descr{
        font-size: 16px;
    }
    &__descr,
    .sgp-h2 {
        margin-bottom: $spacer-4;
    }
    &__arrow-sec {
        display: flex;
        position: absolute;
        bottom: $spacer-5;
        right: 64px;
        .sgp-banner__arrow {
            width: 35px;
            height: 35px;
        }
    }
    &__prev {
        background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38 74.5C17.8416 74.5 1.5 58.1584 1.5 38C1.5 17.8416 17.8416 1.5 38 1.5C58.1584 1.5 74.5 17.8416 74.5 38C74.5 58.1584 58.1584 74.5 38 74.5Z' stroke='white' stroke-width='3'/%3E%3Cpath d='M39.0393 53.3546L23.362 37.6773L39.0393 22L41.0991 24.1743L27.7105 37.6773L41.0991 51.1803L39.0393 53.3546Z' fill='white'/%3E%3Cpath d='M25.5361 36.0752H53V39.2793H25.5361V36.0752Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    &__next {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='white' stroke-width='3'/%3E%3Cpath d='M36.9608 53.3546L52.6381 37.6773L36.9608 22L34.901 24.1743L48.2896 37.6773L34.901 51.1803L36.9608 53.3546Z' fill='white'/%3E%3Cpath d='M50.4639 36.0752H23V39.2793H50.4639V36.0752Z' fill='white'/%3E%3C/svg%3E");
        margin-left: $spacer-4;
    }
}

@include mobile-tablet {
    .sgp-locate {
        .sgp-progress {
            display: none;
        }
        &__sec-2 {
            padding: $spacer-3;
        }
        &__descr,
        .sgp-h2 {
            margin-bottom: $spacer-3;
        }
        &__arrow-sec {
            right: 52px;
            .sgp-banner__arrow {
                width: 25px;
                height: 25px;
            }
        }
    }
}

@include mobile {
    .sgp-locate {
        padding: $spacer-4 $spacer-0;
        .sgp-progress {
            display: block;
            margin: $spacer-0 $spacer-3 $spacer-0;
            width: auto;
            position: relative;
            z-index: 1;
            transform: translateY(-24px);
        }
        &__item {
            padding: $spacer-0;
            display: block;
            &.slick-slide {
                display: block;
            }
            &::after {
                content: none;
            }
        }
        &__sec-1 {
            padding-left: $spacer-2;
            &::before {
                height: calc(100% - 16px);
            }
        }
        &__sec-2 {
            padding: $spacer-3 $spacer-3 $spacer-6;
            margin-top: $spacer-1;
            margin-left: $spacer-0;
            border: 0px;
        }
        &__descr{
            font-size: 14px;
        }
        &__arrow-sec {
            display: none;
        }
    }
}