@font-face {
  font-family: 'Univers-55';
  src: url("../fonts/Univers.eot");
  src: url("../fonts/Univers.eot?#iefix") format("embedded-opentype"), url("../fonts/Univers.woff2") format("woff2"), url("../fonts/Univers.woff") format("woff"), url("../fonts/Univers.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Univers-45';
  src: url("../fonts/Univers-Light-Normal.eot");
  src: url("../fonts/Univers-Light-Normal.eot?#iefix") format("embedded-opentype"), url("../fonts/Univers-Light-Normal.woff2") format("woff2"), url("../fonts/Univers-Light-Normal.woff") format("woff"), url("../fonts/Univers-Light-Normal.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Univers-65';
  src: url("../fonts/Univers65Bold.eot");
  src: url("../fonts/Univers65Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Univers65Bold.woff2") format("woff2"), url("../fonts/Univers65Bold.woff") format("woff"), url("../fonts/Univers65Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-weight: 300;
  line-height: 1.4; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

input,
textarea,
select {
  margin: 0; }

input:focus,
textarea:focus,
select:focus {
  outline: none; }

textarea {
  overflow: auto; }

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important; }

mark {
  background: none;
  color: inherit; }

strong {
  font-weight: bold; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  font-family: 'Univers-55', sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth; }

iframe {
  width: 100%; }

a,
button,
input {
  outline: none;
  padding: 0; }

a,
a:hover {
  color: inherit;
  text-decoration: none; }

p,
li {
  margin-bottom: 0; }

button {
  border: 0;
  background-color: transparent; }

img {
  width: 100%;
  height: auto;
  display: block; }

*:focus {
  outline: none; }

.content-wrapper {
  width: 100%;
  padding: 0 32px;
  max-width: 1404px;
  margin-left: auto;
  margin-right: auto; }

.content-wrapper-small {
  width: 100%;
  padding: 0 32px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

h1,
h2,
h3,
h4,
h5,
h6,
.sgp-h1,
.sgp-h2,
.sgp-h3,
.sgp-h4,
.sgp-h5,
.sgp-h6 {
  font-family: 'Univers-65', sans-serif;
  font-weight: bold;
  line-height: 1.3; }

.sgp-ptb-4 {
  padding-top: 40px;
  padding-bottom: 40px; }

.sgp-pt-4 {
  padding-top: 40px; }

.sgp-pb-4 {
  padding-bottom: 40px; }

.sgp-mtb-4 {
  margin-top: 40px;
  margin-bottom: 40px; }

.sgp-mt-4 {
  margin-top: 40px; }

.sgp-mb-4 {
  margin-bottom: 40px; }

.sgp-h1,
.sgp-h2 {
  font-size: 36px; }

.sgp-h3 {
  font-size: 21px; }

.sgp-h4 {
  font-size: 18px; }

.sgp-h5 {
  font-size: 16px; }

.sgp-h6 {
  font-size: 14px; }

.sgp-small-title {
  font-size: 16px;
  color: #c31126;
  letter-spacing: 1px;
  text-transform: uppercase; }

.slick-dots {
  display: flex;
  border-radius: 5px;
  background-color: #c2e4f8;
  overflow: hidden;
  bottom: -16px; }
  .slick-dots li {
    flex: 1;
    height: 4px;
    margin: 0;
    transition: 0.3s; }
    .slick-dots li.slick-active {
      background-color: #24549d; }
    .slick-dots li button {
      width: 100%;
      height: 100%;
      padding: 0; }
      .slick-dots li button::before {
        content: none; }

@media (max-width: 1023.8px) {
  .sgp-progress {
    display: block; }

  .sgp-h1,
  .sgp-h2 {
    font-size: 32px; } }
@media (max-width: 600px) {
  .content-wrapper {
    padding: 0 16px; }

  .content-wrapper-small {
    padding: 0 16px; }

  .sgp-ptb-4 {
    padding-top: 32px;
    padding-bottom: 32px; }

  .sgp-pt-4 {
    padding-top: 32px; }

  .sgp-pb-4 {
    padding-bottom: 32px; }

  .sgp-mtb-4 {
    margin-top: 32px;
    margin-bottom: 32px; }

  .sgp-mt-4 {
    margin-top: 32px; }

  .sgp-mb-4 {
    margin-bottom: 32px; }

  .sgp-h1,
  .sgp-h2 {
    font-size: 28px;
    line-height: 33px; }

  .sgp-small-title {
    font-size: 12px;
    line-height: 16px; } }
.sgp-btn {
  color: #24549d;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 1px; }
  .sgp-btn svg {
    width: 30px;
    height: 30px;
    margin-right: 8px; }
    .sgp-btn svg circle {
      fill: transparent;
      stroke: #24549d; }
    .sgp-btn svg path {
      fill: #24549d; }
  .sgp-btn:hover {
    color: #c31126;
    text-decoration: underline; }
    .sgp-btn:hover svg circle {
      fill: #c31126;
      stroke: #c31126; }
    .sgp-btn:hover svg path {
      fill: #ffffff; }
  .sgp-btn--white {
    color: #ffffff; }
    .sgp-btn--white svg circle {
      stroke: #ffffff; }
    .sgp-btn--white svg path {
      fill: #ffffff; }
    .sgp-btn--white:hover {
      color: #ffffff; }
      .sgp-btn--white:hover svg circle {
        stroke: #c31126;
        fill: #c31126; }
      .sgp-btn--white:hover svg path {
        fill: #ffffff; }
  .sgp-btn--disabled {
    pointer-events: none;
    color: #cccccc; }
    .sgp-btn--disabled svg circle {
      stroke: #cccccc; }
    .sgp-btn--disabled svg path {
      fill: #cccccc; }

.sgp-link-btn {
  color: #24549d;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  letter-spacing: 1px; }
  .sgp-link-btn svg {
    width: 15px;
    height: 9px;
    margin-left: 8px;
    margin-top: -3px;
    fill: #24549d; }
  .sgp-link-btn:hover {
    color: #c31126; }
    .sgp-link-btn:hover svg {
      fill: #c31126; }
  .sgp-link-btn--box {
    padding: 12px 16px;
    text-align: center;
    min-width: 150px;
    background-color: #24549d;
    color: #ffffff; }
    .sgp-link-btn--box svg {
      fill: #ffffff; }
    .sgp-link-btn--box:hover {
      background-color: #c31126;
      color: #ffffff; }
      .sgp-link-btn--box:hover svg {
        fill: #ffffff; }
    .sgp-link-btn--box.disabled {
      pointer-events: none;
      background-color: #cccccc; }
  .sgp-link-btn--border {
    padding: 12px 16px;
    text-align: center;
    min-width: 150px;
    border: 1px solid #24549d; }
    .sgp-link-btn--border:hover {
      border: 1px solid #c31126; }

.sgp-go-top-btn {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  background-color: #c31126;
  padding: 8px; }
  .sgp-go-top-btn svg {
    width: 14px;
    height: 8px;
    margin-right: 16px; }
  .sgp-go-top-btn:hover {
    color: #ffffff; }

@media (max-width: 600px) {
  .sgp-go-top-btn {
    display: flex; } }
.sgp-arrow {
  display: flex;
  align-items: center; }
  .sgp-arrow__prev, .sgp-arrow__next {
    font-size: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; }
    .sgp-arrow__prev.slick-disabled, .sgp-arrow__next.slick-disabled {
      opacity: 0.5;
      cursor: default; }
  .sgp-arrow__prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg transform='translate(-905 -492)'%3E%3Cpath d='M9.434,1.066a.6.6,0,0,1-.369.123.443.443,0,0,1-.328-.123L.164-7.547A.39.39,0,0,1,0-7.875.39.39,0,0,1,.164-8.2l8.572-8.613a.443.443,0,0,1,.328-.123.6.6,0,0,1,.369.123l.82.82a.443.443,0,0,1,.123.328.6.6,0,0,1-.123.369L3.9-8.941H17.883a.475.475,0,0,1,.349.144.475.475,0,0,1,.144.349V-7.3a.475.475,0,0,1-.144.349.475.475,0,0,1-.349.144H3.9L10.254-.451a.6.6,0,0,1,.123.369.443.443,0,0,1-.123.328Z' transform='translate(921 525)' fill='%2324549d'/%3E%3Cg transform='translate(905 492)' fill='none' stroke='%2324549d' stroke-width='1'%3E%3Crect width='50' height='50' rx='25' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='49' height='49' rx='24.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
  .sgp-arrow__next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cg transform='translate(-905 -492)'%3E%3Cpath d='M8.941-16.816a.6.6,0,0,1,.369-.123.443.443,0,0,1,.328.123L18.211-8.2a.39.39,0,0,1,.164.328.39.39,0,0,1-.164.328L9.639,1.066a.443.443,0,0,1-.328.123.6.6,0,0,1-.369-.123l-.82-.82A.443.443,0,0,1,8-.082a.6.6,0,0,1,.123-.369l6.357-6.357H.492a.475.475,0,0,1-.349-.144A.475.475,0,0,1,0-7.3V-8.449A.475.475,0,0,1,.144-8.8a.475.475,0,0,1,.349-.144H14.479L8.121-15.3A.6.6,0,0,1,8-15.668.443.443,0,0,1,8.121-16Z' transform='translate(921 525)' fill='%2324549d'/%3E%3Cg transform='translate(905 492)' fill='none' stroke='%2324549d' stroke-width='1'%3E%3Crect width='50' height='50' rx='25' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='49' height='49' rx='24.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin-left: 24px; }

@media (max-width: 1023.8px) {
  .sgp-arrow__prev, .sgp-arrow__next {
    width: 30px;
    height: 30px; }
  .sgp-arrow__next {
    margin-left: 16px; } }
@media (max-width: 600px) {
  .sgp-arrow {
    display: none; } }
.sgp-header-arrow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px; }
  .sgp-header-arrow__head-sec .sgp-h2 {
    margin-bottom: 0; }
  .sgp-header-arrow__head-sec .sgp-small-title {
    margin-bottom: 8px; }
  .sgp-header-arrow .sgp-arrow {
    margin-bottom: 4px;
    margin-left: 16px; }

.sgp-tile-bg {
  min-height: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .sgp-tile-bg.slick-slide {
    display: flex; }
  .sgp-tile-bg:hover .sgp-tile-bg__bg::after {
    background-color: rgba(0, 0, 0, 0.8); }
  .sgp-tile-bg:hover .sgp-btn {
    text-decoration: underline; }
    .sgp-tile-bg:hover .sgp-btn svg circle {
      fill: #C31126;
      stroke: #C31126; }
  .sgp-tile-bg__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .sgp-tile-bg__bg::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s; }
  .sgp-tile-bg__cnt {
    position: relative;
    z-index: 5;
    color: #fff;
    padding: 24px; }
    .sgp-tile-bg__cnt .sgp-small-title {
      color: #ffffff; }
  .sgp-tile-bg__head {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px; }
  .sgp-tile-bg__desc {
    margin-bottom: 16px; }
  .sgp-tile-bg--border .sgp-tile-bg__cnt {
    padding: 32px; }
  .sgp-tile-bg--border::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: all 0.3s; }
  .sgp-tile-bg--border::before {
    content: '';
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    z-index: 1;
    transition: all 0.3s; }
  .sgp-tile-bg--border:hover::after {
    width: calc(80% - 32px);
    height: calc(50% - 32px); }
  .sgp-tile-bg--border:hover::before {
    width: calc(80% - 32px);
    height: calc(50% - 32px); }

@media (max-width: 600px) {
  .sgp-tile-bg {
    min-height: 155px; }
    .sgp-tile-bg::before {
      bottom: 8px;
      left: 8px;
      width: calc(100% - 16px);
      height: calc(100% - 16px); }
    .sgp-tile-bg::after {
      top: 8px;
      right: 8px;
      width: calc(100% - 16px);
      height: calc(100% - 16px); }
    .sgp-tile-bg__bg::after {
      background-color: rgba(0, 0, 0, 0.7); }
    .sgp-tile-bg__cnt {
      padding: 16px; }
    .sgp-tile-bg__head {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0; }
    .sgp-tile-bg__desc {
      font-size: 14px;
      line-height: 20px;
      display: none; }
    .sgp-tile-bg .sgp-btn {
      display: none; }
    .sgp-tile-bg--border .sgp-tile-bg__cnt {
      padding: 16px; } }
.sgp-locate__inner {
  position: relative; }
  .sgp-locate__inner.slick-slider {
    margin-bottom: 0; }
.sgp-locate__img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1; }
.sgp-locate__sec-1, .sgp-locate__sec-2 {
  position: relative;
  z-index: 1; }
.sgp-locate__sec-1 {
  padding-left: 16px; }
  .sgp-locate__sec-1::before {
    content: "";
    background-color: #c31126;
    width: 30px;
    height: 100%;
    margin-top: 16px;
    position: absolute;
    top: 0;
    left: 0; }
.sgp-locate__sec-2 {
  color: #ffffff;
  padding: 32px;
  background-color: #002350;
  margin-top: -80px;
  margin-left: 11px;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff; }
  .sgp-locate__sec-2 .sgp-small-title {
    color: #ffffff;
    margin-bottom: 8px; }
.sgp-locate__sub-text {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px; }
.sgp-locate__descr {
  font-size: 16px; }
.sgp-locate__descr,
.sgp-locate .sgp-h2 {
  margin-bottom: 24px; }
.sgp-locate .sgp-arrow {
  position: absolute;
  bottom: 32px;
  right: 64px; }
.sgp-locate__prev {
  background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38 74.5C17.8416 74.5 1.5 58.1584 1.5 38C1.5 17.8416 17.8416 1.5 38 1.5C58.1584 1.5 74.5 17.8416 74.5 38C74.5 58.1584 58.1584 74.5 38 74.5Z' stroke='white' stroke-width='3'/%3E%3Cpath d='M39.0393 53.3546L23.362 37.6773L39.0393 22L41.0991 24.1743L27.7105 37.6773L41.0991 51.1803L39.0393 53.3546Z' fill='white'/%3E%3Cpath d='M25.5361 36.0752H53V39.2793H25.5361V36.0752Z' fill='white'/%3E%3C/svg%3E%0A"); }
.sgp-locate__next {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='38' cy='38' r='36.5' stroke='white' stroke-width='3'/%3E%3Cpath d='M36.9608 53.3546L52.6381 37.6773L36.9608 22L34.901 24.1743L48.2896 37.6773L34.901 51.1803L36.9608 53.3546Z' fill='white'/%3E%3Cpath d='M50.4639 36.0752H23V39.2793H50.4639V36.0752Z' fill='white'/%3E%3C/svg%3E"); }

@media (max-width: 1023.8px) {
  .sgp-locate__sec-2 {
    padding: 16px; }
  .sgp-locate__descr,
  .sgp-locate .sgp-h2 {
    margin-bottom: 16px; }
  .sgp-locate .sgp-arrow {
    right: 52px;
    bottom: 20px; } }
@media (max-width: 600px) {
  .sgp-locate .slick-dots {
    display: flex;
    margin: 0 16px 0;
    width: auto;
    position: static;
    z-index: 1;
    transform: translateY(-24px); }
  .sgp-locate__item {
    padding: 0;
    display: block; }
    .sgp-locate__item.slick-slide {
      display: block; }
    .sgp-locate__item::after {
      content: none; }
  .sgp-locate__sec-1 {
    padding-left: 8px; }
    .sgp-locate__sec-1::before {
      height: calc(100% - 16px); }
  .sgp-locate__sec-2 {
    padding: 16px 16px 40px;
    margin-top: 4px;
    margin-left: 0;
    border: 0px; }
  .sgp-locate__descr {
    font-size: 14px; }
  .sgp-locate .sgp-arrow {
    display: none; } }
.sgp-tile {
  transition: 0.2s;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .sgp-tile.slick-slide {
    display: flex; }
  .sgp-tile:hover {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16); }
  .sgp-tile .sgp-h5 {
    margin-bottom: 16px;
    min-height: 40px; }
  .sgp-tile .sgp-h6 {
    margin-bottom: 16px;
    min-height: 35px; }
  .sgp-tile__img-sec {
    position: relative;
    background-color: #ffffff; }
  .sgp-tile__cnt-sec {
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .sgp-tile__cnt-sec .sgp-btn {
      margin-top: auto; }
  .sgp-tile__small-title {
    font-size: 14px;
    color: #57585b;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .sgp-tile__tag {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 16px;
    background-color: #1e8cbf; }
    .sgp-tile__tag svg {
      width: 13px;
      height: 10px;
      margin-right: 8px; }
    .sgp-tile__tag--red {
      display: flex;
      align-items: center;
      background-color: #c31126;
      position: absolute;
      bottom: 0;
      left: 0; }

@media (max-width: 1023.8px) {
  .sgp-tile__cnt-sec {
    padding: 16px; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sgp-tile {
    align-items: stretch; }
    .sgp-tile__img-sec {
      overflow: hidden;
      min-height: 210px; } }
.sgp-header {
  position: relative;
  z-index: 999; }
  .sgp-header__top-nav {
    background-color: #002350;
    color: #fff; }
    .sgp-header__top-nav .content-wrapper {
      display: flex;
      justify-content: space-between; }
    .sgp-header__top-nav.sticky-soomth {
      margin-bottom: 88.6px; }
  .sgp-header__top-items {
    display: flex; }
    .sgp-header__top-items--about-link .sgp-header__top-links {
      display: inline-flex;
      align-items: center;
      border: 0; }
      .sgp-header__top-items--about-link .sgp-header__top-links:first-child {
        border-right: 1px solid rgba(255, 255, 255, 0.3); }
      .sgp-header__top-items--about-link .sgp-header__top-links:last-child {
        padding-right: 0; }
      .sgp-header__top-items--about-link .sgp-header__top-links svg {
        width: 15px;
        height: 15px;
        margin-right: 8px; }
  .sgp-header__top-links {
    padding: 8px 16px; }
    .sgp-header__top-links--active {
      background-color: #1E8CBF;
      font-family: 'Univers-65', sans-serif;
      font-weight: bold;
      text-decoration: underline; }
    .sgp-header__top-links:hover {
      text-decoration: underline; }
  .sgp-header__nav {
    background-color: #ffffff;
    box-shadow: 0px 3px 32px rgba(0, 0, 0, 0.161);
    padding: 16px 0; }
    .sgp-header__nav .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative; }
    .sgp-header__nav.sticky {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      animation: slide-down 0.3s linear forwards;
      z-index: 999; }
@keyframes slide-down {
  0% {
    opacity: .5;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
  .sgp-header__logo {
    width: 150px; }
  .sgp-header__menu-sec {
    margin-left: auto;
    display: flex; }
  .sgp-header__menu-btn-icon svg {
    width: 35px;
    height: 35px; }
  .sgp-header__drop-menu {
    padding: 0 16px; }
    .sgp-header__drop-menu:hover .sgp-header__drop-menu-item {
      position: relative; }
      .sgp-header__drop-menu:hover .sgp-header__drop-menu-item::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 18px;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='21' viewBox='0 0 28 21'%3E%3Cpath d='M14,0,28,21H0Z' fill='%23fff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        z-index: 1; }
      .sgp-header__drop-menu:hover .sgp-header__drop-menu-item::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        background-color: transparent; }
    .sgp-header__drop-menu:hover .sgp-header__menu-drop {
      display: flex; }
  .sgp-header__drop-menu-item {
    cursor: pointer; }
  .sgp-header__drop-menu-icon {
    width: 10px;
    height: 6px;
    margin-left: 8px; }
  .sgp-header__menu-drop {
    position: absolute;
    top: 51px;
    right: 32px;
    background-color: #ffffff;
    width: 850px;
    min-height: 350px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.16);
    display: none; }
  .sgp-header__menu-drop-col {
    flex: 1;
    padding: 24px; }
    .sgp-header__menu-drop-col--bg-img {
      background-repeat: no-repeat;
      background-size: cover; }
    .sgp-header__menu-drop-col--tab-expan {
      background-color: #F7F7F7;
      display: none; }
      .sgp-header__menu-drop-col--tab-expan.active {
        display: block; }
    .sgp-header__menu-drop-col--two {
      flex: 2; }
  .sgp-header__menu-drop-btn {
    color: #24549d;
    margin-bottom: 24px;
    display: block; }
    .sgp-header__menu-drop-btn svg {
      width: 12px;
      height: 12px;
      margin-left: 8px; }
    .sgp-header__menu-drop-btn:hover {
      text-decoration: underline;
      color: #24549d; }
  .sgp-header__menu-drop-link {
    display: block;
    margin-bottom: 24px;
    cursor: pointer; }
    .sgp-header__menu-drop-link:hover {
      text-decoration: underline; }
    .sgp-header__menu-drop-link--tab:hover {
      text-decoration: none; }
    .sgp-header__menu-drop-link--tab svg {
      width: 6px;
      height: 10px;
      margin-left: 8px; }
  .sgp-header__menu-drop-desc {
    margin-bottom: 24px; }
  .sgp-header__menu-btn-icon {
    padding: 0 16px; }
    .sgp-header__menu-btn-icon:last-child {
      padding-right: 0; }
  .sgp-header__mega-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000b19;
    color: #ffffff;
    z-index: 999;
    overflow-x: auto;
    display: none; }
    .sgp-header__mega-menu .content-wrapper {
      display: flex;
      min-height: 100vh; }
    .sgp-header__mega-menu.active {
      display: block; }
  .sgp-header__mega-menu-close {
    position: fixed;
    right: 32px;
    top: 32px;
    z-index: 1; }
  .sgp-header__mega-close-icon {
    width: 22px;
    height: auto; }
  .sgp-header__mega-col-1 {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    min-width: 150px; }
  .sgp-header__mega-logo-link {
    display: block;
    margin-bottom: 24px; }
  .sgp-header__mega-logo {
    width: 100px;
    height: auto;
    margin: 0 auto; }
  .sgp-header__qick-tools.active .sgp-header__qick-tools-outer {
    max-height: 5000px; }
  .sgp-header__qick-tools.active .sgp-header__qick-btn .sgp-header__qick-btn-icon {
    display: none; }
  .sgp-header__qick-tools.active .sgp-header__qick-btn .sgp-header__qick-btn-close-icon {
    display: block; }
  .sgp-header__qick-tools-outer {
    overflow: hidden;
    max-height: 0; }
  .sgp-header__qick-btn {
    display: block;
    margin: 0 auto;
    padding-top: 16px; }
  .sgp-header__qick-btn-icon {
    width: 30px;
    height: auto; }
  .sgp-header__qick-btn-close-icon {
    width: 18px;
    height: auto;
    display: none; }
  .sgp-header__qick-tools-link {
    display: block;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 24px;
    transition: all 0.3s; }
    .sgp-header__qick-tools-link:hover {
      opacity: 1; }
    .sgp-header__qick-tools-link .sgp-header__qick-btn-icon {
      margin-bottom: 8px; }
  .sgp-header__qick-btn-icon {
    margin: 0 auto; }
  .sgp-header__qick-tools-txt {
    font-size: 12px; }
  .sgp-header__mega-menu-main {
    padding: 40px 0 40px 40px;
    width: 100%;
    display: flex; }
  .sgp-header__mega-home-menu {
    width: 33.33%;
    font-size: 18px;
    font-family: 'Univers-65', sans-serif;
    font-weight: bold;
    color: #cccccc; }
    .sgp-header__mega-home-menu .sgp-header__menu-link {
      font-family: 'Univers-65', sans-serif;
      font-weight: bold; }
    .sgp-header__mega-home-menu.hide {
      display: none; }
  .sgp-header__menu-link {
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 4px;
    position: relative;
    transition: all 0.3s; }
    .sgp-header__menu-link svg {
      width: 8px;
      height: 13px;
      margin-left: auto; }
      .sgp-header__menu-link svg path {
        fill: #cccccc;
        transition: all 0.3s; }
    .sgp-header__menu-link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 0;
      background-color: #ffffff;
      overflow: hidden;
      transition: all 0.3s; }
    .sgp-header__menu-link:hover, .sgp-header__menu-link.active {
      color: #ffffff; }
      .sgp-header__menu-link:hover svg path, .sgp-header__menu-link.active svg path {
        fill: #ffffff; }
      .sgp-header__menu-link:hover::after, .sgp-header__menu-link.active::after {
        width: 50px; }
    .sgp-header__menu-link:last-child {
      margin-bottom: 0; }
  .sgp-header__menu-desk {
    color: #cccccc;
    margin-bottom: 8px; }
  .sgp-header__home-head {
    margin-bottom: 32px; }
  .sgp-header__mega-sub-menu-outer {
    display: none;
    width: 100%; }
    .sgp-header__mega-sub-menu-outer.active {
      display: flex; }
  .sgp-header__mega-sub-menu {
    width: 33.33%;
    padding: 104px 32px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    display: none; }
    .sgp-header__mega-sub-menu:first-child {
      padding-top: 0;
      padding-left: 0;
      border-left: 0;
      display: block; }
      .sgp-header__mega-sub-menu:first-child .sgp-header__mega-menu-back,
      .sgp-header__mega-sub-menu:first-child .sgp-header__mega-sub-title {
        display: flex; }
    .sgp-header__mega-sub-menu.active {
      display: block; }
    .sgp-header__mega-sub-menu .sgp-header__menu-link svg {
      width: 6px;
      height: 10px; }
  .sgp-header__mega-menu-back {
    color: #ffffff;
    font-size: 16px;
    display: none;
    align-items: center;
    margin-bottom: 32px; }
    .sgp-header__mega-menu-back svg {
      width: 8px;
      height: 13px;
      margin-right: 16px; }
  .sgp-header__mega-sub-title {
    display: none;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 24px;
    font-family: 'Univers-65', sans-serif;
    font-weight: bold;
    font-size: 18px; }
    .sgp-header__mega-sub-title svg {
      width: 15px;
      height: 15px;
      margin-left: 8px; }
  .sgp-header__catgry {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 320px; }
    .sgp-header__catgry.hide {
      display: none; }
  .sgp-header__catgry-item {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 33.33%;
    position: relative; }
    .sgp-header__catgry-item::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 35, 80, 0.7); }
    .sgp-header__catgry-item:hover .sgp-btn {
      text-decoration: underline; }
      .sgp-header__catgry-item:hover .sgp-btn svg circle {
        stroke: #c31126;
        fill: #c31126; }
      .sgp-header__catgry-item:hover .sgp-btn svg path {
        fill: #ffffff; }
    .sgp-header__catgry-item .sgp-btn {
      z-index: 1;
      position: relative;
      position: absolute;
      bottom: 24px;
      left: 24px; }
  .sgp-header__footer {
    display: none; }

@media (min-width: 1920px) {
  .sgp-header__catgry {
    width: 25%; } }
@media (max-width: 1023.8px) {
  .sgp-header__top-nav.sticky-soomth {
    margin-bottom: 66px; }
  .sgp-header__nav {
    padding: 8px 0; }
  .sgp-header__logo-link {
    order: 2; }
  .sgp-header__logo {
    width: 130px; }
  .sgp-header__menu-btn-icon {
    order: 1;
    padding: 0; }
    .sgp-header__menu-btn-icon--search {
      order: 3; }
  .sgp-header__menu-sec {
    display: none; }
  .sgp-header__mega-menu-close {
    right: 24px;
    top: 24px; }
    .sgp-header__mega-menu-close.hide {
      display: none; }
  .sgp-header__mega-close-icon {
    width: 18px; }
  .sgp-header__mega-menu {
    padding-bottom: 24px; }
    .sgp-header__mega-menu .content-wrapper {
      flex-direction: column;
      min-height: calc(100vh - 24px); }
  .sgp-header__qick-tools {
    display: none; }
  .sgp-header__mega-col-1 {
    padding: 16px 0;
    border-right: 0; }
  .sgp-header__mega-logo-link {
    margin-bottom: 0; }
  .sgp-header__mega-logo {
    margin: 0; }
  .sgp-header__catgry {
    position: unset;
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    padding-bottom: 16px;
    margin-top: auto; }
    .sgp-header__catgry::-webkit-scrollbar {
      height: 4px; }
    .sgp-header__catgry::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #b9e5fa; }
    .sgp-header__catgry::-webkit-scrollbar-thumb {
      background: #24549d;
      border-radius: 10px; }
  .sgp-header__catgry-item {
    height: 180px; }
  .sgp-header__mega-menu-main {
    padding: 24px 0 40px; }
  .sgp-header__mega-home-menu {
    width: 100%; }
  .sgp-header__mega-sub-menu {
    background-color: #000b19;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 32px;
    overflow-y: auto;
    border-left: 0; }
    .sgp-header__mega-sub-menu:first-child {
      padding: 32px; }
  .sgp-header__mega-menu-back, .sgp-header__mega-sub-title {
    display: flex; }
  .sgp-header__footer {
    margin-top: 32px;
    display: block; }
  .sgp-header__footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px; }
  .sgp-header__social {
    display: flex;
    padding-left: 16px; }
  .sgp-header__social-links {
    display: block;
    padding: 0 16px; }
  .sgp-header__footer-note {
    text-align: center; } }
@media (max-width: 600px) {
  .sgp-header__top-items {
    width: calc(100% + 32px);
    margin: 0 -16px; }
    .sgp-header__top-items--about-link {
      display: none; }
  .sgp-header__top-links {
    width: 50%;
    text-align: center; }
  .sgp-header__mega-home-menu {
    font-size: 16px; }
  .sgp-header__mega-sub-menu {
    padding: 32px 16px; }
    .sgp-header__mega-sub-menu:first-child {
      padding: 32px 16px; }
  .sgp-header__catgry-item {
    min-width: 220px; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sgp-header__menu-drop {
    height: 350px; } }
.sgp-inline-bnr {
  padding: 40px 0;
  z-index: 1;
  position: relative; }
  .sgp-inline-bnr--with-footer {
    margin-bottom: -130px; }
  .sgp-inline-bnr__outer {
    display: flex;
    box-shadow: 0px 3px 32px rgba(0, 0, 0, 0.16);
    background-color: #ffffff; }
  .sgp-inline-bnr__bg {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .sgp-inline-bnr__cnt {
    width: 50%;
    padding: 32px; }
  .sgp-inline-bnr__title {
    font-size: 20px;
    margin-bottom: 24px; }

@media (max-width: 600px) {
  .sgp-inline-bnr {
    padding: 32px 0; }
    .sgp-inline-bnr--with-footer {
      margin-bottom: 0; }
    .sgp-inline-bnr__outer {
      display: block; }
    .sgp-inline-bnr__bg {
      width: 100%;
      height: 150px; }
    .sgp-inline-bnr__cnt {
      width: 100%;
      padding: 16px; }
    .sgp-inline-bnr__title {
      font-size: 16px;
      margin-bottom: 16px; } }
.track-trace-sec {
  z-index: 1;
  position: relative; }
  .track-trace-sec--position {
    margin-top: -80px; }
  .track-trace-sec__inner {
    padding: 24px;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16); }
  .track-trace-sec__top {
    display: flex; }
  .track-trace-sec__btn {
    background-color: #ffffff;
    color: #24549d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 8px;
    width: 100%;
    min-width: 150px; }
    .track-trace-sec__btn svg {
      width: 18px;
      height: 18px;
      margin-right: 8px; }
  .track-trace-sec__btn:hover {
    background-color: #24549d;
    color: #ffffff; }
    .track-trace-sec__btn:hover path {
      stroke: #ffffff;
      fill: #24549d; }
  .track-trace-sec__btn.active {
    background-color: #24549d;
    color: #ffffff; }
    .track-trace-sec__btn.active path {
      stroke: #ffffff;
      fill: #24549d; }
  .track-trace-sec--search .track-trace-sec__btn {
    width: auto;
    background-color: #24549d;
    color: #ffffff;
    border: 1px solid #24549d;
    font-size: 12px; }
  .track-trace-sec__tab {
    margin-right: 24px;
    flex: 1; }
  .track-trace-sec__tab:last-child {
    margin-right: 0; }
  .track-trace-sec__outer {
    flex: 1;
    margin-right: 16px;
    position: relative; }
    .track-trace-sec__outer .track-trace-sec__input-text {
      width: 100%;
      flex: none;
      height: 100%;
      margin-right: 0;
      padding-right: 32px; }
  .track-trace-sec__location-point {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px; }
  .track-trace-sec__input-text {
    padding: 8px 16px;
    flex: 1;
    border: 1px solid #cccccc;
    border-right: 0px; }
  .track-trace-sec--weight .track-trace-sec__input-text {
    margin-right: 16px;
    border-right: 1px solid #cccccc; }
  .track-trace-sec__track-tab-footer {
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    margin-top: 8px; }
  .track-trace-sec__link {
    color: #24549d;
    text-decoration: underline; }
    .track-trace-sec__link:hover {
      color: #c31126;
      text-decoration: underline; }
  .track-trace-sec__tab-cont {
    display: flex; }
    .track-trace-sec__tab-cont select {
      margin-right: 16px;
      flex: 1;
      border: 1px solid #cccccc;
      color: #999999;
      padding: 8px 32px 8px 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.125' height='7.793' viewBox='0 0 13.125 7.793'%3E%3Cpath id='Path_1018' data-name='Path 1018' d='M6.234-4.1H6.193a.6.6,0,0,0,.369.123A.6.6,0,0,0,6.932-4.1L13-10.131a.571.571,0,0,0,.123-.349A.571.571,0,0,0,13-10.828l-.82-.82a.6.6,0,0,0-.369-.123.443.443,0,0,0-.328.123L6.563-6.768,1.641-11.648a.443.443,0,0,0-.328-.123.6.6,0,0,0-.369.123l-.82.82A.571.571,0,0,0,0-10.479a.49.49,0,0,0,.164.349Z' transform='translate(0 11.771)' fill='%2324549d'/%3E%3C/svg%3E%0A");
      background-size: 14px 8px;
      background-repeat: no-repeat;
      background-position-x: calc(100% - 16px);
      background-position-y: 50%;
      cursor: pointer;
      appearance: none; }
      .track-trace-sec__tab-cont select::-ms-expand {
        display: none; }
  .track-trace-sec__mob {
    display: none; }
  .track-trace-sec__desk li {
    display: flex;
    margin-bottom: 24px; }

@media (min-width: 600px) and (max-width: 1023.8px) {
  .track-trace-sec__tab {
    margin-right: 16px; } }
@media (max-width: 600px) {
  .track-trace-sec--position {
    margin-top: -60px; }
  .track-trace-sec__mob {
    display: block; }
  .track-trace-sec--search-field .track-trace-sec__input-text {
    padding: 16px; }
  .track-trace-sec__desk {
    display: none; }
  .track-trace-sec__mob-head {
    color: #000000;
    font-weight: bold;
    margin-bottom: 16px; }
  .track-trace-sec__mob-track {
    display: flex; }
  .track-trace-sec__mob-search-sec {
    background-color: #24549d;
    padding: 16px;
    display: flex;
    align-items: center; }
    .track-trace-sec__mob-search-sec img {
      width: 15px;
      height: 15px; }
  .track-trace-sec__mob-tile {
    display: flex;
    padding: 16px 0;
    flex-wrap: wrap; }
  .track-trace-sec__mob-tile-sec {
    background-color: #ffffff;
    padding: 16px;
    color: #24549d;
    margin-right: 8px;
    width: calc(50% - 4px);
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 96px; }
  .track-trace-sec____mob-tile a {
    color: #24549d; }
  .track-trace-sec__mob-tile-sec:nth-child(2n) {
    margin-right: 0; }
  .track-trace-sec__mob-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 8px; } }
.sgp-banner .sgp-h2 {
  color: #ffffff;
  margin-bottom: 32px;
  max-width: 600px; }
.sgp-banner .sgp-small-title {
  color: #ffffff;
  margin-bottom: 16px; }
.sgp-banner__item {
  position: relative; }
.sgp-banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; }
  .sgp-banner__bg--mob {
    display: none; }
.sgp-banner__inner {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 100px;
  min-height: 500px; }
  .sgp-banner__inner::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0; }
  .sgp-banner__inner .content-wrapper-small {
    position: relative; }
.sgp-banner .slick-dots {
  display: none !important; }
.sgp-banner.slick-dotted {
  margin-bottom: 0; }
.sgp-banner .sgp-arrow {
  margin-left: 32px; }
.sgp-banner__next, .sgp-banner__prev {
  width: 15px;
  height: 15px; }
.sgp-banner__next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13.813' viewBox='0 0 14 13.813'%3E%3Cpath d='M6.813-12.812a.457.457,0,0,1,.281-.094.338.338,0,0,1,.25.094L13.875-6.25A.3.3,0,0,1,14-6a.3.3,0,0,1-.125.25L7.344.813a.338.338,0,0,1-.25.094A.457.457,0,0,1,6.813.813L6.188.188a.338.338,0,0,1-.094-.25.457.457,0,0,1,.094-.281l4.844-4.844H.375A.362.362,0,0,1,.109-5.3.362.362,0,0,1,0-5.562v-.875A.362.362,0,0,1,.109-6.7a.362.362,0,0,1,.266-.109H11.031L6.188-11.656a.457.457,0,0,1-.094-.281.338.338,0,0,1,.094-.25Z' transform='translate(0 12.906)' fill='%23fff'/%3E%3C/svg%3E"); }
.sgp-banner__prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13.813' viewBox='0 0 14 13.813'%3E%3Cpath d='M7.188.813a.457.457,0,0,1-.281.094.338.338,0,0,1-.25-.094L.125-5.75A.3.3,0,0,1,0-6a.3.3,0,0,1,.125-.25l6.531-6.562a.338.338,0,0,1,.25-.094.457.457,0,0,1,.281.094l.625.625a.338.338,0,0,1,.094.25.457.457,0,0,1-.094.281L2.969-6.812H13.625a.362.362,0,0,1,.266.109A.362.362,0,0,1,14-6.437v.875a.362.362,0,0,1-.109.266.362.362,0,0,1-.266.109H2.969L7.813-.344a.457.457,0,0,1,.094.281.338.338,0,0,1-.094.25Z' transform='translate(0 12.906)' fill='%23fff'/%3E%3C/svg%3E"); }
.sgp-banner__slide-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 120px;
  right: 32px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ffffff;
  z-index: 1; }
.sgp-banner__pagenation {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 3px; }
.sgp-banner__pagenation-bold {
  font-family: 'Univers-65', sans-serif;
  font-weight: bold;
  font-size: 16px; }

@media (max-width: 1023.8px) {
  .sgp-banner__inner {
    min-height: 650px; }
    .sgp-banner__inner::before {
      background-color: rgba(0, 0, 0, 0.5); }
  .sgp-banner__bg--desk {
    display: none; }
  .sgp-banner__bg--mob {
    display: block; } }
@media (max-width: 600px) {
  .sgp-banner .sgp-h2 {
    margin-bottom: 24px; }
  .sgp-banner__inner {
    padding-bottom: 80px; }
  .sgp-banner__slide-control {
    bottom: 85px;
    left: 16px;
    right: auto; }
  .sgp-banner__inner {
    min-height: 0px;
    padding-top: 32px;
    padding-bottom: 150px; }
  .sgp-banner .sgp-arrow {
    display: flex; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sgp-banner__inner {
    height: 500px; } }
.sgp-solutions {
  overflow: hidden; }
  .sgp-solutions .sgp-mob-app {
    margin-top: 8px; }
  .sgp-solutions .sgp-h2 {
    text-align: center;
    margin-bottom: 16px; }
  .sgp-solutions__tile {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    position: relative; }
  .sgp-solutions__wave {
    position: absolute;
    top: -100px;
    left: -90px;
    z-index: 2;
    width: 200px;
    height: auto; }
    .sgp-solutions__wave--two {
      top: unset;
      left: unset;
      bottom: -50px;
      right: -90px; }
  .sgp-solutions .sgp-tile-bg {
    width: calc(25% - 16px);
    margin: 8px; }
    .sgp-solutions .sgp-tile-bg__desc {
      margin-bottom: 0; }
    .sgp-solutions .sgp-tile-bg:nth-of-type(1), .sgp-solutions .sgp-tile-bg:nth-of-type(2) {
      width: calc(50% - 16px);
      min-height: 350px; }
      .sgp-solutions .sgp-tile-bg:nth-of-type(1) .sgp-tile-bg__desc, .sgp-solutions .sgp-tile-bg:nth-of-type(2) .sgp-tile-bg__desc {
        margin-bottom: 16px; }

@media (max-width: 1023.8px) {
  .sgp-solutions .sgp-mob-app {
    margin-top: 32px; }
  .sgp-solutions__wave {
    display: none; }
  .sgp-solutions .sgp-tile-bg {
    width: calc(50% - 16px);
    min-height: 310px; }
    .sgp-solutions .sgp-tile-bg:nth-of-type(1), .sgp-solutions .sgp-tile-bg:nth-of-type(2) {
      width: calc(100% - 16px);
      min-height: 330px; }
      .sgp-solutions .sgp-tile-bg:nth-of-type(1) .sgp-tile-bg__desc, .sgp-solutions .sgp-tile-bg:nth-of-type(2) .sgp-tile-bg__desc {
        display: block; }
      .sgp-solutions .sgp-tile-bg:nth-of-type(1) .sgp-tile-bg__head, .sgp-solutions .sgp-tile-bg:nth-of-type(2) .sgp-tile-bg__head {
        margin-bottom: 8px; }
      .sgp-solutions .sgp-tile-bg:nth-of-type(1) .sgp-btn, .sgp-solutions .sgp-tile-bg:nth-of-type(2) .sgp-btn {
        display: inline-flex; } }
@media (max-width: 600px) {
  .sgp-solutions__title {
    font-size: 14px;
    line-height: 20px; }
  .sgp-solutions__tile {
    margin: 0 -4px; }
  .sgp-solutions .sgp-tile-bg {
    margin: 4px;
    width: calc(50% - 8px);
    min-height: 155px; }
    .sgp-solutions .sgp-tile-bg:nth-of-type(1), .sgp-solutions .sgp-tile-bg:nth-of-type(2) {
      width: calc(100% - 8px);
      min-height: 180px; } }
.sgp-mob-app {
  display: flex;
  margin: 0 -8px; }
  .sgp-mob-app .sgp-locate, .sgp-mob-app__sec {
    width: calc(50% - 16px);
    margin: 0 8px; }
    .sgp-mob-app .sgp-locate .sgp-h2, .sgp-mob-app__sec .sgp-h2 {
      text-align: left; }
  .sgp-mob-app__sec {
    position: relative;
    display: flex;
    flex-direction: column; }
  .sgp-mob-app__inner {
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    margin-top: auto;
    padding: 32px 24px;
    min-height: 60%; }
  .sgp-mob-app__mob-img {
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .sgp-mob-app__cnt {
    color: #ffffff;
    width: 60%; }
    .sgp-mob-app__cnt .sgp-small-title {
      color: #ffffff;
      margin-bottom: 16px; }
    .sgp-mob-app__cnt .sgp-h2 {
      margin-bottom: 8px; }
  .sgp-mob-app__sgp-icon {
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%); }
  .sgp-mob-app__btn-sec {
    display: flex;
    margin-top: 32px; }
  .sgp-mob-app__btn {
    display: block;
    margin-right: 16px; }
    .sgp-mob-app__btn:last-child {
      margin-right: 0; }

@media (max-width: 1023.8px) {
  .sgp-mob-app {
    display: block;
    margin: 0; }
    .sgp-mob-app .sgp-locate, .sgp-mob-app__sec {
      width: 100%;
      margin: 0; }
    .sgp-mob-app__sec {
      margin-top: 24px;
      margin-left: 0; }
    .sgp-mob-app__mob-img {
      display: none; }
    .sgp-mob-app__cnt {
      width: 100%; }
      .sgp-mob-app__cnt .sgp-small-title {
        margin-bottom: 8px; }
      .sgp-mob-app__cnt .sgp-h2 {
        margin-bottom: 0; }
    .sgp-mob-app__inner {
      padding: 4px 16px 24px; }
    .sgp-mob-app__head-sec {
      display: flex;
      align-items: center;
      margin-left: -16px; }
    .sgp-mob-app__btn-sec {
      width: 50%; }
    .sgp-mob-app__sgp-icon {
      width: 130px;
      position: static;
      transform: translate(0); } }
@media (max-width: 600px) {
  .sgp-mob-app__sec {
    margin-top: 16px;
    padding-bottom: 70px; }
  .sgp-mob-app__btn-sec {
    width: 100%;
    margin-top: 0;
    position: absolute;
    left: 0;
    bottom: -16px;
    transform: translateY(100%); }
  .sgp-mob-app__inner {
    padding-bottom: 16px; } }
.sgp-pers-featured .sgp-header-arrow {
  margin-bottom: 0; }
.sgp-pers-featured__wrapper {
  margin: 0 -8px; }
  .sgp-pers-featured__wrapper.slick-slider {
    margin-bottom: 0; }
  .sgp-pers-featured__wrapper .slick-list {
    padding: 32px 0; }
  .sgp-pers-featured__wrapper .slick-track {
    display: flex; }
  .sgp-pers-featured__wrapper .sgp-tile {
    margin: 0 8px;
    height: auto; }
    .sgp-pers-featured__wrapper .sgp-tile:hover {
      background-color: #ffffff; }
.sgp-pers-featured__social {
  display: flex;
  margin: 0 -8px; }
  .sgp-pers-featured__social .sgp-tile-bg .sgp-small-title {
    font-size: 14px;
    margin-bottom: 8px; }
  .sgp-pers-featured__social .sgp-tile-bg .sgp-h5 {
    margin-bottom: 16px; }
.sgp-pers-featured .slick-dots {
  display: none !important; }
.sgp-pers-featured--social .sgp-tile,
.sgp-pers-featured--social .sgp-tile-bg {
  height: auto; }
.sgp-pers-featured--social .sgp-tile-bg {
  width: 40%;
  min-width: 40%;
  margin: 0 8px;
  min-height: 0px; }
.sgp-pers-featured--social .sgp-header-arrow {
  margin-bottom: 24px; }
.sgp-pers-featured--social .sgp-tile {
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }
  .sgp-pers-featured--social .sgp-tile__cnt-sec {
    padding: 16px 0 0; }
  .sgp-pers-featured--social .sgp-tile:hover {
    box-shadow: none; }
  .sgp-pers-featured--social .sgp-tile:nth-of-type(even) {
    flex-direction: column-reverse; }
    .sgp-pers-featured--social .sgp-tile:nth-of-type(even) .sgp-tile__cnt-sec {
      padding: 0 0 16px; }
.sgp-pers-featured--social .sgp-pers-featured__wrapper {
  margin: 0;
  width: calc(60% - 16px); }
  .sgp-pers-featured--social .sgp-pers-featured__wrapper .slick-list {
    padding: 0; }

@media (max-width: 600px) {
  .sgp-pers-featured__social {
    display: block; }
  .sgp-pers-featured__wrapper {
    margin: 0; }
    .sgp-pers-featured__wrapper.slick-slider {
      margin-bottom: 30px; }
    .sgp-pers-featured__wrapper .sgp-tile {
      margin: 0; }
    .sgp-pers-featured__wrapper .slick-list {
      padding: 24px 0 0; }
  .sgp-pers-featured .slick-dots {
    display: flex !important; }
  .sgp-pers-featured--social .sgp-tile-bg {
    width: 100%;
    margin: 0 0 16px;
    min-height: 280px; }
    .sgp-pers-featured--social .sgp-tile-bg .sgp-btn {
      display: block; }
  .sgp-pers-featured--social .sgp-pers-featured__social {
    margin: 24px 0 0; }
  .sgp-pers-featured--social .sgp-pers-featured__wrapper {
    width: 100%; }
  .sgp-pers-featured--social .sgp-tile:nth-of-type(even) {
    flex-direction: column; }
    .sgp-pers-featured--social .sgp-tile:nth-of-type(even) .sgp-tile__cnt-sec {
      padding: 16px 0 0; } }
.sgp-footer {
  color: #ffffff;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 140px 0 40px; }
  .sgp-footer::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0; }
  .sgp-footer__wrapper {
    position: relative;
    display: flex;
    margin-bottom: 40px; }
  .sgp-footer__sec-1 {
    min-width: 25%; }
  .sgp-footer__sec-2 {
    width: 75%;
    padding-left: 32px;
    margin-left: 32px;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }
  .sgp-footer__logo {
    display: block;
    width: 200px;
    height: 68px;
    margin-bottom: 32px; }
  .sgp-footer__head {
    text-transform: uppercase; }
  .sgp-footer__text {
    margin-top: 16px;
    margin-bottom: 8px; }
  .sgp-footer__text, .sgp-footer__link {
    font-size: 14px;
    line-height: 20px;
    color: #B3B3B3; }
  .sgp-footer__link {
    display: block;
    margin-top: 4px; }
    .sgp-footer__link:nth-of-type(1) {
      margin-top: 16px; }
  .sgp-footer__email {
    font-size: 14px;
    padding: 8px 24px;
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    display: block;
    width: 100%;
    margin-bottom: 24px; }
    .sgp-footer__email::placeholder {
      color: #B3B3B3; }
  .sgp-footer__social {
    margin-top: 16px; }
  .sgp-footer__social-inner {
    margin-left: 16px; }
  .sgp-footer__social-inner, .sgp-footer__social {
    display: flex;
    align-items: center; }
  .sgp-footer__social-link {
    height: 15px;
    margin-left: 24px;
    display: block; }
    .sgp-footer__social-link:hover {
      transform: scale(1.12);
      transition: 0.3s; }
    .sgp-footer__social-link:last-child .sgp-footer__social-icon {
      margin-top: 2px; }
  .sgp-footer__social-icon {
    height: 15px;
    width: auto; }
  .sgp-footer__link-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 370px;
    overflow: auto;
    margin: -8px -8px; }
  .sgp-footer__link-sec {
    margin: 8px 8px 16px; }
  .sgp-footer__quick-wrapper {
    font-size: 14px;
    line-height: 18px;
    position: relative; }
  .sgp-footer__quick-inner {
    margin: 0 -16px; }
  .sgp-footer__quick-link {
    color: #B3B3B3;
    white-space: nowrap;
    margin: 4px 16px;
    position: relative;
    display: inline-block; }
    .sgp-footer__quick-link::before {
      content: '';
      background-color: #fff;
      width: 1px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: -16px;
      transform: translateY(-50%); }
    .sgp-footer__quick-link:hover {
      color: #fff; }
    .sgp-footer__quick-link:first-child::before {
      content: none; }
  .sgp-footer__copyright {
    margin-bottom: 8px; }

@media (max-width: 1249px) and (min-width: 1024px) {
  .sgp-footer__link-wrapper {
    max-height: 600px; } }
@media (max-width: 1023.8px) {
  .sgp-footer__sec-2 {
    display: none; }
  .sgp-footer__quick-wrapper {
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); } }
@media (max-width: 600px) {
  .sgp-footer {
    padding: 40px 0; }
    .sgp-footer__logo {
      width: 160px;
      height: auto;
      margin-bottom: 24px; }
    .sgp-footer__wrapper {
      margin-bottom: 24px; }
    .sgp-footer__quick-wrapper {
      display: flex;
      flex-direction: column-reverse;
      text-align: center; }
    .sgp-footer__copyright {
      margin-top: 24px;
      margin-bottom: 0; } }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sgp-footer__link-wrapper {
    height: 370px; } }
.sgp-reg-service__wrapper {
  position: relative;
  padding-top: 85px; }
.sgp-reg-service__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center; }
.sgp-reg-service__inner {
  position: relative;
  background-color: #ffffff;
  padding: 40px;
  margin: 0 auto;
  width: calc(100% - 140px); }
.sgp-reg-service__header {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px; }
.sgp-reg-service__bodycopy {
  color: #57585b;
  list-style: disc;
  padding-left: 16px; }
  .sgp-reg-service__bodycopy li {
    margin-bottom: 16px; }
    .sgp-reg-service__bodycopy li:last-child {
      margin-bottom: 0; }
.sgp-reg-service__bodylink {
  color: #24549d;
  text-decoration: underline; }

@media (min-width: 600px) and (max-width: 1023.8px) {
  .sgp-reg-service__header {
    font-size: 30px;
    line-height: 34px; }
  .sgp-reg-service__inner {
    width: calc(100% - 100px); } }
@media (max-width: 600px) {
  .sgp-reg-service__header {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px; }
  .sgp-reg-service__inner {
    padding: 24px 16px;
    width: calc(100% - 40px); }
  .sgp-reg-service__image {
    height: calc(100% - 70px); } }
.sgp-notice {
  background-color: #C31126;
  color: #fff;
  padding: 4px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .sgp-notice__active {
    padding-top: 25px; }
  .sgp-notice.hide {
    display: none; }
  .sgp-notice .content-wrapper {
    display: flex;
    position: relative;
    align-items: flex-start; }
  .sgp-notice__close-btn {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%); }
    .sgp-notice__close-btn svg {
      width: 10px;
      height: 10px; }
  .sgp-notice__title {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Univers-65', sans-serif;
    font-weight: bold;
    background-color: #fff;
    color: #C31126;
    padding: 0 16px 0 8px;
    white-space: nowrap;
    text-transform: uppercase;
    min-width: 125px;
    position: relative;
    overflow: hidden; }
    .sgp-notice__title::after {
      content: '';
      position: absolute;
      right: -13px;
      top: -9px;
      width: 20px;
      height: 40px;
      background-color: #C31126;
      transform: rotate(20deg); }
  .sgp-notice__slider {
    width: calc(100% - 125px);
    padding: 0 100px 0 8px; }
  .sgp-notice__item {
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: underline;
    overflow: hidden; }
  .sgp-notice__icon {
    display: none; }
  .sgp-notice .sgp-arrow {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%); }
    .sgp-notice .sgp-arrow__prev, .sgp-notice .sgp-arrow__next {
      width: 15px;
      height: 15px;
      background: none; }
    .sgp-notice .sgp-arrow svg {
      width: 12px;
      height: 12px;
      vertical-align: unset;
      position: relative; }
  .sgp-notice__next {
    margin-left: 16px; }

@media (max-width: 600px) {
  .sgp-notice {
    position: static;
    padding-bottom: 24px; }
    .sgp-notice__title-text {
      display: none; }
    .sgp-notice__icon {
      display: block;
      width: 15px;
      height: 15px;
      margin: 2px 0px 2px 3px; }
    .sgp-notice__title {
      min-width: 30px;
      padding: 0; }
    .sgp-notice__slider {
      width: calc(100% - 30px);
      padding: 0 16px 0 8px; }
    .sgp-notice__item {
      white-space: unset;
      text-overflow: unset; }
    .sgp-notice__close-btn {
      right: 0;
      top: 0;
      transform: none; }
      .sgp-notice__close-btn svg {
        position: absolute;
        right: 4px;
        top: 0px;
        z-index: 1; }
        .sgp-notice__close-btn svg path {
          stroke: #C31126; }
      .sgp-notice__close-btn::after {
        content: '';
        background-color: #fff;
        width: 50px;
        height: 50px;
        position: absolute;
        right: -30px;
        top: -29px;
        transform: rotate(45deg); }
    .sgp-notice .sgp-arrow {
      display: flex;
      top: auto;
      bottom: -24px;
      right: 50%;
      transform: translate(0, -50%); }
      .sgp-notice .sgp-arrow__prev.slick-disabled, .sgp-notice .sgp-arrow__next.slick-disabled {
        visibility: hidden; }
      .sgp-notice .sgp-arrow__prev {
        transform: rotate(90deg); }
      .sgp-notice .sgp-arrow__next {
        transform: rotate(90deg); }
      .sgp-notice .sgp-arrow svg {
        width: 15px;
        height: 15px; } }
.sgp-useful-links {
  background-color: #F7F7F7;
  padding: 40px 0; }
  .sgp-useful-links .sgp-tile {
    background-color: #ffffff; }

@media (max-width: 600px) {
  .sgp-useful-links {
    padding: 32px 0; } }
.sgp-service-announce {
  padding: 40px 0; }

@media (max-width: 600px) {
  .sgp-service-announce {
    padding: 32px 0; } }

/*# sourceMappingURL=style.css.map */
